﻿
@{
    ViewBag.Title = "ContactUs";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}

<section class="page-title" style="background-image:url(images/background/5.jpg);">
    <div class="auto-container">
        <div class="inner-box">
            <h1>contact</h1>
            <ul class="bread-crumb">
                <li><a href="index.html">Home</a></li>
                <li>contact</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->
<!--Contact Section-->
<section class="contact-section">
    <div class="auto-container">

        <div class="contact-info">
            <div class="row clearfix">

                <div class="info-block col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="icon-box"><span class="flaticon-house-outline"></span></div>
                        <h4>VISIT</h4>
                        Collins Street West,121 <br> King Street, Melbourne.
                    </div>
                </div>

                <div class="info-block col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="icon-box"><span class="flaticon-technology-1"></span></div>
                        <h4>Call</h4>
                        (1800) 123 4567 <br> (1800) 123 4568
                    </div>
                </div>

                <div class="info-block col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="icon-box"><span class="flaticon-envelope-1"></span></div>
                        <h4>Mail</h4>
                        info@universalhavencharity.com <br> info@universalhaven.com
                    </div>
                </div>

            </div>
        </div>

        <h2>Say Hello</h2>

        <!--Contact Form-->
        <div class="contact-form">
            <form method="post" action="/Mail/Contactus">
                <div class="row clearfix">
                    
                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                        <input type="email" name="email" value="" placeholder="Email *" required>
                    </div>
                    
                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                        <input type="text" name="subject" value="" placeholder="Subject *" required>
                    </div>

                    <div class="column col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <textarea name="message" placeholder="Type Your Message"></textarea>
                        </div>
                    </div>

                    <div class="column col-md-12 col-sm-12 col-xs-12 text-center">
                        <div class="form-group">
                            <button type="submit" class="theme-btn btn-style-one">Submit Now</button>
                        </div>
                    </div>

                </div>

            </form>
        </div>
        <!--End Contact Form-->

    </div>
</section>
<!--End Contact Section-->
<!--Map Section-->
<section class="map-section">
    <div class="map-outer">

        <!--Map Canvas-->
        <div class="map-canvas"
             data-zoom="10"
             data-lat="-37.817085"
             data-lng="144.955631"
             data-type="roadmap"
             data-hue="#ffc400"
             data-title="Envato"
             data-content="Melbourne VIC 3000, Australia<br><a href='mailto:info@youremail.com'>info@youremail.com</a>">
        </div>

    </div>
</section>
<section class="subscribe-style-one" style="background-image:url(images/background/patten-1.png);">
    <div class="auto-container">
        <div class="row clearfix">
            <div class="column col-md-7 col-sm-6 col-xs-12">
                <h2>SUBSCRIBE FOR NEWSLETTER</h2>
            </div>
            <div class="column col-md-5 col-sm-6 col-xs-12 text-right">
                <!-- Begin MailChimp Signup Form -->
                <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">

                <div id="">
                    <form action="https://facebook.us17.list-manage.com/subscribe/post?u=b76d0895da8120c65037aaa74&amp;id=7bead1c99a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll">
                            <h2>Subscribe to our mailing list</h2>
                            <div class="mc-field-group">
                             
                                <div class="form-group">
                                    <input type="email" value=""placeholder=" Email Address" name="EMAIL" class="required email" id="">
                                </div>
                                </div>
                            <div id="mce-responses" class="clear">
                                <div class="response" id="mce-error-response" style="display:none"></div>
                                <div class="response" id="mce-success-response" style="display:none"></div>
                            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_b76d0895da8120c65037aaa74_7bead1c99a" tabindex="-1" value=""></div>
                            <div class="form-group">
                                <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="" class="button theme-btn btn-style-one"></div>
                            </div>
                            </div>
                    </form>
                </div>
                <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
                <script type='text/javascript'>(function ($) { window.fnames = new Array(); window.ftypes = new Array(); fnames[0] = 'EMAIL'; ftypes[0] = 'email'; }(jQuery)); var $mcj = jQuery.noConflict(true);</script>
                <!--End mc_embed_signup-->


              
            </div>
        </div>
    </div>
</section>
@section Scripts{
@if (ViewBag.message != "")
{

    <script>
        new PNotify({
            title: 'Success',
            text: 'Message Sent successfully',
            type: 'success',
            styling: 'bootstrap3'
        });
    </script>


}
}