﻿@model  IEnumerable<Domain.Models.mail>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
           
            <div class="x_content">
                <div class="row">
                    <div class="col-sm-3 mail_list_column">
                        <button id="compose" class="btn btn-sm btn-success btn-block" type="button">COMPOSE</button>
                        @foreach (var item in Model)
                        {                         
                        <a href="#" class="idmail" id="@item.id">
                            <div class="mail_list">
                                <div class="left">
                                    <i class="fa fa-circle"></i> <i class="fa fa-edit"></i>
                                </div>
                                <div class="right">
                                    <h3>@item.subject</h3>
                                    <p>@item.content</p>
                                    <span style="display:none">@item.Mailsender</span>
                                </div>
                            </div>
                        </a>
                        }
                    </div>
                    <div class="col-sm-9 mail_view mailc"  style="display:none">
                        <div class="inbox-body">
                            <div class="mail_heading row">
                                <div class="col-md-8">
                                    <div class="btn-group">
                                        <button class="btn btn-sm btn-primary" type="button" id="compose"><i class="fa fa-reply"></i> Reply</button>
                                        <button class="btn btn-sm btn-default" type="button" data-placement="top" data-toggle="tooltip" data-original-title="Print"><i class="fa fa-print"></i></button>
                                        <a id="delete" class="btn btn-sm btn-default" data-placement="top" data-toggle="tooltip" data-original-title="Trash"><i class="fa fa-trash-o"></i></a>
                                    </div>
                                </div>
                                <div class="col-md-4 text-right">
                                </div>
                                <div class="col-md-12">
                                    <h4 class="mailsubject" id="subject"></h4>
                                </div>
                            </div>
                            <div class="sender-info">
                                <div class="row">
                                    <div class="col-md-12">
                                        
                                        <span class="mailsender" id="mailsender"></span> to
                                        <strong>me</strong>
                                        <a class="sender-dropdown"><i class="fa fa-chevron-down"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="view-mail">
                                <p class="mailcontent" id="content">
                                  </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="compose col-md-6 col-xs-12">
      <div class="compose-header">
        New Message
        <button type="button" class="close compose-close">
          <span>×</span>
        </button>
      </div>

      <div class="compose-body">
          <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
               <input type="email" class="form-control has-feedback-left" id="mailsendto" placeholder="Email">
              <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
              <input type="text" class="form-control has-feedback-left" id="subjectto" placeholder="Subject">
              <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
          </div>
        <div id="alerts"></div>

        <div class="btn-toolbar editor" data-role="editor-toolbar" data-target="#editor">
          <div class="btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown" title="Font"><i class="fa fa-font"></i><b class="caret"></b></a>
            <ul class="dropdown-menu">
            </ul>
          </div>

          <div class="btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown" title="Font Size"><i class="fa fa-text-height"></i>&nbsp;<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li>
                <a data-edit="fontSize 5">
                  <p style="font-size:17px">Huge</p>
                </a>
              </li>
              <li>
                <a data-edit="fontSize 3">
                  <p style="font-size:14px">Normal</p>
                </a>
              </li>
              <li>
                <a data-edit="fontSize 1">
                  <p style="font-size:11px">Small</p>
                </a>
              </li>
            </ul>
          </div>

          <div class="btn-group">
            <a class="btn" data-edit="bold" title="Bold (Ctrl/Cmd+B)"><i class="fa fa-bold"></i></a>
            <a class="btn" data-edit="italic" title="Italic (Ctrl/Cmd+I)"><i class="fa fa-italic"></i></a>
            <a class="btn" data-edit="strikethrough" title="Strikethrough"><i class="fa fa-strikethrough"></i></a>
            <a class="btn" data-edit="underline" title="Underline (Ctrl/Cmd+U)"><i class="fa fa-underline"></i></a>
          </div>

          <div class="btn-group">
            <a class="btn" data-edit="insertunorderedlist" title="Bullet list"><i class="fa fa-list-ul"></i></a>
            <a class="btn" data-edit="insertorderedlist" title="Number list"><i class="fa fa-list-ol"></i></a>
            <a class="btn" data-edit="outdent" title="Reduce indent (Shift+Tab)"><i class="fa fa-dedent"></i></a>
            <a class="btn" data-edit="indent" title="Indent (Tab)"><i class="fa fa-indent"></i></a>
          </div>

          <div class="btn-group">
            <a class="btn" data-edit="justifyleft" title="Align Left (Ctrl/Cmd+L)"><i class="fa fa-align-left"></i></a>
            <a class="btn" data-edit="justifycenter" title="Center (Ctrl/Cmd+E)"><i class="fa fa-align-center"></i></a>
            <a class="btn" data-edit="justifyright" title="Align Right (Ctrl/Cmd+R)"><i class="fa fa-align-right"></i></a>
            <a class="btn" data-edit="justifyfull" title="Justify (Ctrl/Cmd+J)"><i class="fa fa-align-justify"></i></a>
          </div>

          <div class="btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown" title="Hyperlink"><i class="fa fa-link"></i></a>
            <div class="dropdown-menu input-append">
              <input class="span2" placeholder="URL" type="text" data-edit="createLink" />
              <button class="btn" type="button">Add</button>
            </div>
            <a class="btn" data-edit="unlink" title="Remove Hyperlink"><i class="fa fa-cut"></i></a>
          </div>

          <div class="btn-group">
            <a class="btn" title="Insert picture (or just drag & drop)" id="pictureBtn"><i class="fa fa-picture-o"></i></a>
            <input type="file" data-role="magic-overlay" data-target="#pictureBtn" data-edit="insertImage" />
          </div>

          <div class="btn-group">
            <a class="btn" data-edit="undo" title="Undo (Ctrl/Cmd+Z)"><i class="fa fa-undo"></i></a>
            <a class="btn" data-edit="redo" title="Redo (Ctrl/Cmd+Y)"><i class="fa fa-repeat"></i></a>
          </div>
        </div>

        <div id="editor" class="editor-wrapper"></div>
      </div>

      <div class="compose-footer">
        <button id="send" class="btn btn-sm btn-success" type="button">Send</button>
      </div>
    </div>
<textarea name="descr" id="descr" style="display:none;"></textarea>
@section Scripts{
         <script>
             $('#editor').wysiwyg().on('change', function () {

                 console.log($(this).cleanHtml())
                 $('#descr').val($(this).cleanHtml())
                 console.log()
             });
         $('.idmail').on('click',function(e){
              e.preventDefault();
             var id=  $(this).attr("id");

             var title = $("#"+id+" .right h3").html();
             var content = $("#"+id+" .right p").html();
             var mailsender = $("#"+id+" .right span").html();

             console.log("Title : "+title);
             console.log("Content : "+content);
             $("#subject").html(title);
             $("#content").html(content);
             $("#mailsender").html(mailsender);
             $("#delete").attr("href","/Mail/Delete/"+id);
             $(".mailc").css("display", "block");
             $("#mailsendto").val(mailsender)
        })
             $('#compose').on('click', function () {
                 $("#mailsendto").val("");
             })

             $('#send').on('click', function () {

        $str = $('#descr').val();
        var obj = {};
        obj.content = $('#descr').val();
             obj.mailSender = $('#mailsendto').val();
             obj.subject = $('#subjectto').val();

        var jsonString = JSON.stringify(obj);
        $.ajaxSetup({
            headers: { "authorization": "@ViewBag.token" }
        });
        $.ajax({
            type: "POST",
             url: "http://127.0.0.1:18080/universalhaven-web/rest/mail/sendmailto",
            data: jsonString,
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            statusCode: {
                200: function () {
                    window.location.href = "/admin?message=success";
                },
                404: function () {
                    new PNotify({
                        title: 'Oh No!',
                        text: 'Something terrible happened.',
                        type: 'error',
                        styling: 'bootstrap3'
                    });
                },
                401: function () {
                    new PNotify({
                        title: 'Oh No!',
                        text: 'Something terrible happened.',
                        type: 'error',
                        styling: 'bootstrap3'
                    });
                },
                406: function () {
                    new PNotify({
                        title: 'Oh No!',
                        text: 'Something terrible happened.',
                        type: 'error',
                        styling: 'bootstrap3'
                    });
                }
            }
        });
    });
         </script>          
                    
                   }