﻿@model Domain.Models.fundraisingevent

@{
    ViewBag.Title = "DetailsEventForClient";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}





<section class="history-section">
    <div class="auto-container">
        <!--Sec Title-->
        <div class="sec-title">
            <h2>@Model.title</h2>
            <div class="separator"></div>
            <div class="text">@Model.camp.country : @Model.camp.address</div>
        </div>

        <div class="row clearfix">
            <!--Video Column-->
            <div class="video-column col-md-6 col-sm-12 col-xs-12">
                <div class="video-box">
                    <figure class="image">
                        <img src="@Url.Content("~/Content/Upload/" + Model.imagePath)" alt="" />
                    </figure>
                    
                </div>
            </div>
            <!--Column Column-->
            <div class="content-column col-md-6 col-sm-12 col-xs-12">
                <div class="inner-box">
                    <div class="text-dark">Goal:$ @Model.goal </div>
                    <div class="text-dark">AMOUNT RAISED:$ @ViewBag.sumAmount </div>
                    <div class="text-dark">@Model.description</div>
                    <div class="text">
                        <p>@Model.state </p>
                        <p>@Model.urgency </p>
                        <p>@Model.publishDate </p>
                        <p>@Model.finishingDate </p>
                    </div>
                    
                </div>
            </div>
        </div>

    </div>
</section>