﻿@model Domain.Models.fundraisingevent

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<p>
    @Html.ActionLink(" ", // <-- Link text
                 "Edit", // <-- Action Method Name
                 new { id = Model.id }, // <-- Route arguments
                 new { @class = "fa fa-edit", data_val = "abc" } // <-- htmlArguments
                )
    |
    @Html.ActionLink("Back to List", "getByUser")
</p>

<div class="row">
<div class="col-md-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>@Model.title</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="#">Settings 1</a>
                        </li>
                        <li>
                            <a href="#">Settings 2</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="col-md-8 col-lg-8 col-sm-7">
                <!-- blockquote -->
                <blockquote>
                    <p>
                       @Model.description
                    </p>
                    <p>
                       Goal: @Model.goal$
                    </p>
                    <p>
                       Amount recolted: @ViewBag.sumAmount$
                    </p>
                    
                </blockquote>
                <blockquote class="blockquote-reverse">
                    <p>
                        <img alt="eventImage" src="@Url.Content("~/Content/Upload/"+Model.imagePath)" width="600" height="300" />
                    </p>
                    
                </blockquote>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-5">
                <h1>@Model.camp.country </h1>
                <h2>@Model.camp.address</h2>
                <h3>Event begin in @Model.publishDate</h3>
                <h3>Event finished in @Model.finishingDate</h3>
                <h4>State: @Model.state</h4>
                <h4>Urgency: @Model.urgency</h4>
               
            </div>
            <div class="clearfix"></div>
            <div class="col-md-12">
                
                
            </div>
        </div>
    </div>
</div>
            </div>
