﻿@model IEnumerable<Domain.Models.fundraisingevent>

@{
    ViewBag.Title = "getByUser";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<p>
    @Html.ActionLink("Add new fundraising event", "Create")
</p>


<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Fundraising events </h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#">Settings 1</a>
                            </li>
                            <li>
                                <a href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <div class="row">

                    <p>My events</p>

                    
                    
                   
                    @foreach (var item in Model)
                    {

                    <div class="col-md-55">
                        <div class="thumbnail">
                            <div class="image view view-first">
                                <img style="width: 100%; display: block;" src="@Url.Content("~/Content/Upload/"+item.imagePath)" alt="eventimage" />
                                <div class="mask no-caption">
                                    <div class="tools tools-bottom">
                                        <a href="@Url.Action("Details", "FundraisingEvent",new { id = item.id })"><i class="fa fa-link"></i></a>
                                        <a href="@Url.Action("Edit", "FundraisingEvent",new { id = item.id })"><i class="fa fa-pencil"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="caption">
                                <p>
                                    <strong>@item.title</strong>
                                </p>
                                <p>@item.description</p>
                                
                            </div>
                        </div>
                    </div>
                    }



                 
                </div>
            </div>
        </div>
    </div>
</div>
         
