﻿@model IEnumerable<Domain.Models.fundraisingevent>

@{
    ViewBag.Title = "getHighStateEvents";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}


<section class="latest-causes-section">
    <div class="auto-container">

        <div class="row clearfix">
            <!--Default Cause Box-->
            <!--Default Cause Box-->
            <!--Default Cause Box-->
            @foreach (var item in Model)
            {

                <div class="default-cause-box col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box wow fadeIn" data-wow-delay="1000ms" data-wow-duration="1500ms">
                        <div class="image-box">
                            <div class="image">
                                <img src="@Url.Content("~/Content/Upload/" + item.imagePath)" alt="" width="100" height="100" />
                                <div class="overlay-box">
                                    <a href="@Url.Action("DetailsEventForClient", "FundraisingEvent", new { id = item.id })" class="search-btn"><span class="icon fa fa-link"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="lower-content">
                            <h3><a href="@Url.Action("DetailsEventForClient", "FundraisingEvent", new { id = item.id })">@item.title</a></h3>
                            <div class="text">@item.description</div>


                            <!--donate info-->
                            <div class="donate-info clearfix">

                                <div class="amount goal">GOAL: $@item.goal</div>
                            </div>

                        </div>
                    </div>
                </div>}

        </div>

        <!-- Styled Pagination -->
        
        <br>
    </div>
</section>
<!--End Latest Causes Section-->
<!--Subscribe Style One-->
<section class="subscribe-style-one" style="background-image:url(images/background/patten-1.png);">
    <div class="auto-container">
        <div class="row clearfix">
            <div class="column col-md-7 col-sm-6 col-xs-12">
                <h2>SUBSCRIBE FOR NEWSLETTER</h2>
                <div class="text">Lorem ipsum dolor sit amet, quo odio atqui tamquam eu, duo ex amet elitr.</div>
            </div>
            <div class="column col-md-5 col-sm-6 col-xs-12 text-right">
                <form method="post" action="contact.html">
                    <div class="form-group">
                        <input type="email" name="email" value="" placeholder="Email" required>
                        <button type="submit" class="theme-btn btn-style-one">Subscribe</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
