﻿@model IEnumerable<Domain.Models.fundraisingevent>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.finishingDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.goal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.imagePath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.publishDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.state)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.urgency)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.camp_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.publisher_id)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.finishingDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.goal)
        </td>
        <td>
            <img alt="eventImage" src="@Url.Content("~/Content/Upload/" + item.imagePath)" width="100" height="100" />
            @Html.DisplayFor(modelItem => item.imagePath)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.publishDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.state)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.urgency)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.camp_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.publisher_id)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
            @Html.ActionLink("Details", "Details", new { id = item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.id })
        </td>
    </tr>
}

</table>

@foreach (var item in ViewBag.avgCompletionEvent)
{
    <p>@item.Key</p>
    <p>@item.Value</p>

}


@Scripts.Render("~/Content/Charts/code/highcharts.js")
@Scripts.Render("~/Content/Charts/code/highcharts-3d.js")
@Scripts.Render("~/Content/Charts/code/modules/exporting.js")
<div id="container" style="height: 400px"></div>
<script type="text/javascript">
 
    Highcharts.chart('container', {
        chart: {
            type: 'pie',
            options3d: {
                enabled: true,
                alpha: 45,
                beta: 0
            }
        },
        title: {
            text: 'Browser market shares at a specific website, 2014'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                depth: 35,
                dataLabels: {
                    enabled: true,
                    format: '{point.name}'
                }
            }
        },
        series: [{
            type: 'pie',
            name: 'Browser share',
            data: [
                   @foreach (var item in ViewBag.eventCountByCountry)
    {
        <text>
    ["@item.Key", @item.Value],
        </text>
    }

            ]
        }]
    });
</script>

<html>
<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {
            'packages': ['geochart'],
            // Note: you will need to get a mapsApiKey for your project.
            // See: https://developers.google.com/chart/interactive/docs/basic_load_libs#load-settings
            'mapsApiKey': 'AIzaSyD-9tSrke72PouQMnMX-a7eZSW0jkFMBWY'
        });
        google.charts.setOnLoadCallback(drawRegionsMap);

        function drawRegionsMap() {
            var data = google.visualization.arrayToDataTable([
                 @foreach (var item in ViewBag.eventCountByCountry)
                    {
                      <text>
                     ['Country', 'Number of fundraising events'],
                     ['@item.Key', @item.Value],
                     </text>
                    }
            ]);

            var options = {};

            var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));

            chart.draw(data, options);
        }
    </script>
</head>
<body>
    <div id="regions_div" style="width: 900px; height: 500px;"></div>
</body>
</html>
