﻿
@{
    ViewBag.Title = "statsForClient";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}
<center>
    <h1>Number of events by coutry</h1>

        @Scripts.Render("~/Content/Charts/code/loader.js")
        <script type="text/javascript">
        google.charts.load('current', {
            'packages': ['geochart'],
            // Note: you will need to get a mapsApiKey for your project.
            // See: https://developers.google.com/chart/interactive/docs/basic_load_libs#load-settings
            'mapsApiKey': 'AIzaSyD-9tSrke72PouQMnMX-a7eZSW0jkFMBWY'
        });
        google.charts.setOnLoadCallback(drawRegionsMap);

        function drawRegionsMap() {
            var data = google.visualization.arrayToDataTable([
                 @foreach (var item in ViewBag.eventCountByCountry)
                    {
                      <text>
                     ['Country', 'Number of fundraising events'],
                     ['@item.Key', @item.Value],
                     </text>
                    }
            ]);

            var options = {};

            var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));

            chart.draw(data, options);
        }
        </script>
        <div id="regions_div" style="width: 900px; height: 500px;"></div>

    <h1>Event count by month in 2017</h1>
    
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['bar'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Month', 'Number of events'],
                @foreach (var item in ViewBag.eventCountByMonth)
                    {
                      <text>
                     ['@item.Key', @item.Value],
                     </text>
                    }
            ]);

            var options = {
                chart: {
                    title: 'Fundraising events in 2017',
                    subtitle: 'Universal Haven',
                }
            };

            var chart = new google.charts.Bar(document.getElementById('columnchart_material'));

            chart.draw(data, google.charts.Bar.convertOptions(options));
        }
    </script>

        <div id="columnchart_material" style="width: 800px; height: 500px;"></div>
    <h1>Average completion event by country</h1>
    



    <script>
        window.onload = function () {

            var chart = new CanvasJS.Chart("chartContainer", {
                animationEnabled: true,
                theme: "light2", // "light1", "light2", "dark1", "dark2"
                title: {
                    text: "Universal Haven Stat"
                },
                axisY: {
                    title: "Number of days"
                },
                data: [{
                    type: "column",
                    showInLegend: true,
                    legendMarkerColor: "grey",
                    legendText: "Country",
                    dataPoints: [
                    @foreach (var item in ViewBag.avgCompletionEvent)
                    {
                      <text>
                        { y: @item.Value, label: "@item.Key" },
                     </text>
                    }
                        
                    ]
                }]
            });
            chart.render();

        }
    </script>
    <div id="chartContainer" style="height: 370px; width: 100%;"></div>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

</center>



