﻿@model Domain.Models.room

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="x_panel">
    <div class="x_title">
        <h2>Create Room</h2>

        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <form id="demo-form" method="post" action="/room/CreateRoom">
           

            <label for="ref">Reference * :</label>
            <input type="text" id="ref" class="form-control" name="ref"  required />
            <label for="bed">Beds * :</label>
            <input type="number" id="bed" class="form-control" name="bed" required />
            <label for="superficy">Superficy * :</label>
            <input type="text" id="superficy" class="form-control" name="superficy" required />
            <label>Rooms Type *:</label>
            <p>
                Couple: <input type="radio" class="flat" name="roomType" value="Couple" checked="" required />
                Females: <input type="radio" class="flat" name="roomType" value="Female" />
                Males: <input type="radio" class="flat" name="roomType" value="Male" />
                Families: <input type="radio" class="flat" name="roomType" value="Families" />
            </p>
            <label for="camp">Camp *:</label>
            <select id="camp" class="form-control" name="campid" required></select>
            <br />
            <input type="submit" class="btn btn-primary" value="Create" />

        </form>

    </div>
</div>
@section Scripts{
<script>
    var json = '@ViewBag.getallcamp';
    var xw=JSON.parse(json.replace(/&quot;/g, '"'));
    for (var i = 0; i < xw.length; i++) {
        var obj = xw[i];
        $('#camp').append("<option value='" + obj.id +"'>" + obj.name + " in " + obj.country + "</option>");
    }
</script>
}