﻿
@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Admin</h2>

@section Scripts{
    

@if (ViewBag.message != "")
{

    

    <script>
        new PNotify({
                        title: 'Success',
                        text: 'Newsletter sent successfully',
                        type: 'success',
                        styling: 'bootstrap3'
                    });
    </script>
}


}