﻿
@{
    ViewBag.Title = "Client";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}



   <section class="main-slider" data-start-height="800" data-slide-overlay="yes">

    <div class="tp-banner-container">
        <div class="tp-banner">
            <ul>

                <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-thumb="~/Content/Client/images/main-slider/1.jpg" data-saveperformance="off"
                    data-title="Awesome Title Here">
                    <img src="~/Content/Client/images/main-slider/1.jpg" alt="" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

                    <div class="tp-caption sft sfb tp-resizeme" data-x="left" data-hoffset="15" data-y="center" data-voffset="-70" data-speed="1500"
                         data-start="0" data-easing="easeOutExpo" data-splitin="none" data-splitout="none" data-elementdelay="0.01"
                         data-endelementdelay="0.3" data-endspeed="1200" data-endeasing="Power4.easeIn">
                        <div class="sub-title">YOUR WARMTH AND SUPPORT!</div>
                    </div>

                    <div class="tp-caption sft sfb tp-resizeme" data-x="left" data-hoffset="15" data-y="center" data-voffset="10" data-speed="1500"
                         data-start="500" data-easing="easeOutExpo" data-splitin="none" data-splitout="none" data-elementdelay="0.01"
                         data-endelementdelay="0.3" data-endspeed="1200" data-endeasing="Power4.easeIn">
                        <h2 class="big-title">
                            Support To Accommodate,
                            <br> Feed And Educate.
                        </h2>
                    </div>

                    <div class="tp-caption sft sfb tp-resizeme" data-x="left" data-hoffset="15" data-y="center" data-voffset="110" data-speed="1500"
                         data-start="1000" data-easing="easeOutExpo" data-splitin="none" data-splitout="none" data-elementdelay="0.01"
                         data-endelementdelay="0.3" data-endspeed="1200" data-endeasing="Power4.easeIn">
                        <div class="text">
                            Give a helping hand to those who need it. Volunteers do notGive a helping hand to
                            <br> those who need it. Volunteers do not
                        </div>
                    </div>

                    <div class="tp-caption sfb sfb tp-resizeme" data-x="left" data-hoffset="15" data-y="center" data-voffset="185" data-speed="1500"
                         data-start="1500" data-easing="easeOutExpo" data-splitin="none" data-splitout="none" data-elementdelay="0.01"
                         data-endelementdelay="0.3" data-endspeed="1200" data-endeasing="Power4.easeIn">
                        <a href="contact.html" class="theme-btn btn-style-one">Learn More</a>
                    </div>

                </li>

                <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-thumb="~/Content/Client/images/main-slider/2.jpg" data-saveperformance="off"
                    data-title="Awesome Title Here">
                    <img src="~/Content/Client/images/main-slider/2.jpg" alt="" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

                    <div class="tp-caption sft sfb tp-resizeme" data-x="left" data-hoffset="400" data-y="center" data-voffset="-70" data-speed="1500"
                         data-start="0" data-easing="easeOutExpo" data-splitin="none" data-splitout="none" data-elementdelay="0.01"
                         data-endelementdelay="0.3" data-endspeed="1200" data-endeasing="Power4.easeIn">
                        <div class="sub-title alterternate">Welcome to Samara!</div>
                    </div>

                    <div class="tp-caption sft sfb tp-resizeme" data-x="left" data-hoffset="400" data-y="center" data-voffset="-20" data-speed="1500"
                         data-start="500" data-easing="easeOutExpo" data-splitin="none" data-splitout="none" data-elementdelay="0.01"
                         data-endelementdelay="0.3" data-endspeed="1200" data-endeasing="Power4.easeIn">
                        <h2 class="medium-title">Change Children’s Life & save!</h2>
                    </div>

                    <div class="tp-caption sft sfb tp-resizeme" data-x="left" data-hoffset="400" data-y="center" data-voffset="40" data-speed="1500"
                         data-start="1000" data-easing="easeOutExpo" data-splitin="none" data-splitout="none" data-elementdelay="0.01"
                         data-endelementdelay="0.3" data-endspeed="1200" data-endeasing="Power4.easeIn">
                        <div class="text-dark">
                            Give a helping hand to those who need it. Volunteers do notGive a helping hand to
                            <br> those who need i helping hand to those who need it.
                        </div>
                    </div>

                    <div class="tp-caption sfb sfb tp-resizeme" data-x="left" data-hoffset="400" data-y="center" data-voffset="100" data-speed="1500"
                         data-start="1500" data-easing="easeOutExpo" data-splitin="none" data-splitout="none" data-elementdelay="0.01"
                         data-endelementdelay="0.3" data-endspeed="1200" data-endeasing="Power4.easeIn">
                        <a href="contact.html" class="theme-btn btn-style-one">Learn More</a> &ensp;
                        <a href="contact.html" class="theme-btn btn-style-two">Be with us</a>
                    </div>

                </li>

                <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-thumb="~/Content/Client/images/main-slider/3.jpg" data-saveperformance="off"
                    data-title="Awesome Title Here">
                    <img src="~/Content/Client/images/main-slider/3.jpg" alt="" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                    <div class="overlay-layer"></div>
                    <div class="tp-caption sft sfb tp-resizeme" data-x="center" data-hoffset="0" data-y="center" data-voffset="-70" data-speed="1500"
                         data-start="0" data-easing="easeOutExpo" data-splitin="none" data-splitout="none" data-elementdelay="0.01"
                         data-endelementdelay="0.3" data-endspeed="1200" data-endeasing="Power4.easeIn">
                        <div class="sub-title alterternate">Welcome to Samara!</div>
                    </div>

                    <div class="tp-caption sft sfb tp-resizeme" data-x="center" data-hoffset="0" data-y="center" data-voffset="-20" data-speed="1500"
                         data-start="500" data-easing="easeOutExpo" data-splitin="none" data-splitout="none" data-elementdelay="0.01"
                         data-endelementdelay="0.3" data-endspeed="1200" data-endeasing="Power4.easeIn">
                        <h2 class="medium-title">Help a child without family!</h2>
                    </div>

                    <div class="tp-caption sft sfb tp-resizeme" data-x="center" data-hoffset="0" data-y="center" data-voffset="30" data-speed="1500"
                         data-start="1000" data-easing="easeOutExpo" data-splitin="none" data-splitout="none" data-elementdelay="0.01"
                         data-endelementdelay="0.3" data-endspeed="1200" data-endeasing="Power4.easeIn">
                        <div class="sub-title white-text">YOUR WARMTH AND SUPPORT!</div>
                    </div>

                    <div class="tp-caption sfb sfb tp-resizeme" data-x="center" data-hoffset="0" data-y="center" data-voffset="90" data-speed="1500"
                         data-start="1500" data-easing="easeOutExpo" data-splitin="none" data-splitout="none" data-elementdelay="0.01"
                         data-endelementdelay="0.3" data-endspeed="1200" data-endeasing="Power4.easeIn">
                        <a href="contact.html" class="theme-btn btn-style-one">Learn More</a> &ensp;
                        <a href="contact.html" class="theme-btn btn-style-two">Be with us</a>
                    </div>

                </li>

            </ul>
        </div>
    </div>
</section>
<!--End Main Slider-->
<!--Services Section-->
<section class="services-section">
    <div class="auto-container">
        <!--Sec Title-->
        <div class="sec-title">
            <h2>What We Do</h2>
            <div class="separator"></div>
            <div class="text">
                We are always looking out and timely help disadvantaged, see our latest campaign, and if can you pledonaa
                <br> small part but its significance for us to help people
            </div>
        </div>

        <div class="row clearfix">
            <!--Service Style One-->
            <div class="service-style-one col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box wow fadeIn" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="icon-box">
                        <span class="icon flaticon-coin-1"></span>
                    </div>
                    <h3>
                        <a href="services.html">Donation</a>
                    </h3>
                    <div class="text">
                        Donate to help those in need, and contribute to our humanitarian cause
                        right now ! Any amount is appreciated, and sure will make a diffrence !
                    </div>
                    <a href="services.html" class="read-more">
                        Donate now !
                        <span class="icon fa fa-angle-right"></span>
                    </a>
                </div>
            </div>

            <!--Service Style One-->
            <div class="service-style-one col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box wow fadeIn" data-wow-delay="500ms" data-wow-duration="1500ms">
                    <div class="icon-box">
                        <span class="icon flaticon-charity"></span>
                    </div>
                    <h3>
                        <a href="services.html">VOLUNTEER</a>
                    </h3>
                    <div class="text">
                        Want to become a Red Cross Volunteer ? You must simply
                        fill out this form and we will get in touch with you as soon as possible !
                    </div>
                    <a href="services.html" class="read-more">
                        Apply !
                        <span class="icon fa fa-angle-right"></span>
                    </a>
                </div>
            </div>

            <!--Service Style One-->
            <div class="service-style-one col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box wow fadeIn" data-wow-delay="1000ms" data-wow-duration="1500ms">
                    <div class="icon-box">
                        <span class="icon flaticon-heart-2"></span>
                    </div>
                    <h3>
                        <a href="services.html">Fundraising</a>
                    </h3>
                    <div class="text">
                        With thousands of camps around the world, some of them may need a little
                        contribution in order to provide better conditions for its' refugees.
                    </div>
                    <a href="services.html" class="read-more">
                        See fundraising events
                        <span class="icon fa fa-angle-right"></span>
                    </a>
                </div>
            </div>

        </div>

        <!--Joining Box-->
        <div class="joining-box">
            <div class="inner">
                <h3>What You Can Do Here!</h3>
                <form method="post" action="contact.html">
                    <div class="form-group">
                        <input type="email" name="email" value="" placeholder="E-mail Address" required>
                        <button type="submit" class="theme-btn btn-style-one">Subscribe</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</section>
<!--End We Do Section-->
<!--Donate Section-->
<section class="donate-section">
    <div class="auto-container">
        <div class="row clearfix">
            <!--content column-->
            <div class="content-column col-md-5 col-sm-12 col-xs-12">
                <div class="inner-box">
                    <h2>
                        HOW
                        <br> CAN YOU HELP?
                    </h2>
                    <div class="text">
                        A little donation is always appreciated, and will be placed in good hands !
                        A penny can make peoples' life easier !
                    </div>
                    <!--Select Amount-->
                    <div class="select-amount">
                        <div class="clearfix">
                            <div class="select-box">
                                <input type="radio" name="payment-group" id="radio-one">
                                <label for="radio-one">$5</label>
                            </div>
                            <div class="select-box">
                                <input type="radio" name="payment-group" id="radio-two">
                                <label for="radio-two">$10</label>
                            </div>
                            <div class="select-box">
                                <input type="radio" name="payment-group" id="radio-three" checked>
                                <label for="radio-three">$50</label>
                            </div>
                            <div class="select-box">
                                <input type="radio" name="payment-group" id="radio-four">
                                <label for="radio-four">$150</label>
                            </div>
                        </div>
                    </div>
                    <a href="donate.html" class="theme-btn btn-style-one">Donate Now</a>

                </div>
            </div>

            <!--payment column-->
            <div class="payment-column col-md-7 col-sm-12 col-xs-12">
                <div class="inner-box">
                    <!--price box-->
                    <div class="price-box">
                        <!--upper box-->
                        <div class="content">
                            <h3>Total Money donated</h3>
                            <h2>112.5 billion</h2>
                        </div>
                        <!--lower box-->
                        <div class="content">
                            <h3>Donors</h3>
                            <h2>54</h2>
                        </div>
                    </div>
                    <div class="image-box">
                        <img src="~/Content/Client/images/resource/donater-1.png" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Donate Section-->
<!--Counter Section-->
<section class="counter-section" style="background-image:url(~/Content/Client/images/background/1.jpg);">
    <div class="auto-container">
        <div class="row clearfix">
            <!--Content Column-->
            <div class="content-column col-md-5 col-sm-12 col-xs-12">
                <div class="inner-box">
                    <h3>We are served since 35 years to helpless people with trust and we are happy</h3>
                    <a href="contact.html" class="theme-btn btn-style-one">Join Us ! </a>
                </div>
            </div>
            <!--Counter Column-->
            <div class="counter-column col-md-7 col-sm-12 col-xs-12">

                <div class="fact-counter">
                    <div class="row clearfix">

                        <!--Column-->
                        <div class="column counter-column wow fadeIn col-md-4 col-sm-6 col-xs-12" data-wow-delay="0ms" data-wow-duration="0ms">
                            <div class="inner">
                                <div class="icon-box">
                                    <span class="icon flaticon-hands-holding-heart"></span>
                                </div>
                                <div class="count-outer count-box">
                                    <span class="count-text" data-speed="4000" data-stop="3500">0</span>
                                </div>
                                <h4 class="counter-title">CAUSES SOLVED</h4>
                            </div>
                        </div>

                        <!--Column-->
                        <div class="column counter-column wow fadeIn col-md-4 col-sm-6 col-xs-12" data-wow-delay="0ms" data-wow-duration="0ms">
                            <div class="inner">
                                <div class="icon-box">
                                    <span class="icon flaticon-hands"></span>
                                </div>
                                <div class="count-outer count-box">
                                    <span class="count-text" data-speed="2000" data-stop="1800">0</span>
                                </div>
                                <h4 class="counter-title">TOTAL VOLUNTEERS</h4>
                            </div>
                        </div>

                        <!--Column-->
                        <div class="column counter-column wow fadeIn col-md-4 col-sm-6 col-xs-12" data-wow-delay="0ms" data-wow-duration="0ms">
                            <div class="inner">
                                <div class="icon-box">
                                    <span class="icon flaticon-business-3"></span>
                                </div>
                                <div class="count-outer count-box">
                                    <span class="count-text" data-speed="1500" data-stop="262">0</span>
                                </div>
                                <h4 class="counter-title">TOTAL PROJECTS</h4>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!--End Counter Section-->
<!--Latest Causes Section-->
<section class="latest-causes-section">
    <div class="auto-container">
        <!--Sec Title-->
        <div class="sec-title">
            <h2>RECENT FUNDRAISING EVENTS</h2>
            <div class="separator"></div>
            <div class="text">
                We are always looking out and timely help disadvantaged, see our latest campaign, and if can you pledonaa
                <br> small part but its significance for us to help people
            </div>
        </div>

        <div class="row clearfix">

            <!--Default Cause Box-->
            <div class="default-cause-box col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box wow fadeIn" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="image-box">
                        <div class="image">
                            <img src="~/Content/Client/images/resource/featured-image-1.jpg" alt="" />
                            <div class="overlay-box">
                                <a href="causes-single.html" class="search-btn">
                                    <span class="icon fa fa-link"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="lower-content">
                        <h3>
                            <a href="blog-single.html">Build school for children</a>
                        </h3>
                        <div class="text">
                            The ship set ground on the shoreend ofcharted desert isle with gilligan.ofcharted desert
                            isle with gilligan.
                        </div>

                        <div class="donate-bar wow fadeIn" data-wow-delay="0ms" data-wow-duration="0ms">
                            <div class="bar-inner">
                                <div class="bar" style="width:48%;"></div>
                            </div>
                        </div>
                        <!--donate info-->
                        <div class="donate-info clearfix">
                            <div class="percentage">
                                <div class="count-box">
                                    <span class="count-text" data-speed="2000" data-stop="48">0</span>%
                                </div>
                            </div>
                            <div class="amount raised">RAISED: $5200</div>
                            <div class="amount goal">GOAL: $12000</div>
                        </div>
                        <a href="donate.html" class="theme-btn btn-style-three donate-btn">DONATE NOW</a>
                    </div>
                </div>
            </div>

            <!--Default Cause Box-->
            <div class="default-cause-box col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box wow fadeIn" data-wow-delay="500ms" data-wow-duration="1500ms">
                    <div class="image-box">
                        <div class="image">
                            <img src="~/Content/Client/images/resource/featured-image-2.jpg" alt="" />
                            <div class="overlay-box">
                                <a href="causes-single.html" class="search-btn">
                                    <span class="icon fa fa-link"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="lower-content">
                        <h3>
                            <a href="blog-single.html">Help us to send Vegetables</a>
                        </h3>
                        <div class="text">
                            The ship set ground on the shoreend ofcharted desert isle with gilligan.ofcharted desert
                            isle with gilligan.
                        </div>

                        <div class="donate-bar wow fadeIn" data-wow-delay="0ms" data-wow-duration="0ms">
                            <div class="bar-inner">
                                <div class="bar" style="width:62%;"></div>
                            </div>
                        </div>
                        <!--donate info-->
                        <div class="donate-info clearfix">
                            <div class="percentage">
                                <div class="count-box">
                                    <span class="count-text" data-speed="2000" data-stop="62">0</span>%
                                </div>
                            </div>
                            <div class="amount raised">RAISED: $3250</div>
                            <div class="amount goal">GOAL: $8000</div>
                        </div>
                        <a href="donate.html" class="theme-btn btn-style-three donate-btn">DONATE NOW</a>
                    </div>
                </div>
            </div>

            <!--Default Cause Box-->
            <div class="default-cause-box col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box wow fadeIn" data-wow-delay="1000ms" data-wow-duration="1500ms">
                    <div class="image-box">
                        <div class="image">
                            <img src="~/Content/Client/images/resource/featured-image-3.jpg" alt="" />
                            <div class="overlay-box">
                                <a href="causes-single.html" class="search-btn">
                                    <span class="icon fa fa-link"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="lower-content">
                        <h3>
                            <a href="blog-single.html">Patient and Family Support</a>
                        </h3>
                        <div class="text">
                            The ship set ground on the shoreend ofcharted desert isle with gilligan.ofcharted desert
                            isle with gilligan.
                        </div>

                        <div class="donate-bar wow fadeIn" data-wow-delay="0ms" data-wow-duration="0ms">
                            <div class="bar-inner">
                                <div class="bar" style="width:32%;"></div>
                            </div>
                        </div>
                        <!--donate info-->
                        <div class="donate-info clearfix">
                            <div class="percentage">
                                <div class="count-box">
                                    <span class="count-text" data-speed="2000" data-stop="32">0</span>%
                                </div>
                            </div>
                            <div class="amount raised">RAISED: $7500</div>
                            <div class="amount goal">GOAL: $20000</div>
                        </div>
                        <a href="donate.html" class="theme-btn btn-style-three donate-btn">DONATE NOW</a>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
<!--End Latest Causes Section-->
<!--Donation Section-->
<section class="donation-section" style="background-image:url(~/Content/Client/images/background/2.jpg);">
    <div class="auto-container">
        <div class="row clearfix">
            <!--Content Column-->
            <div class="content-column col-md-6 col-sm-12 col-xs-12">
                <div class="inner">
                    <h2>BECOME A VOLUNTEER</h2>
                    <div class="text">
                        The ship set ground on the shore of this uncharted a desert isle with that this group would somehow
                        form a family that is the wayThe ship set ground on the shore of this uncharted a desert
                        isle with that this group.
                    </div>
                </div>
            </div>
            <!--Form Column-->
            <div class="form-column col-md-6 col-sm-12 col-xs-12">
                <div class="inner">

                    <!--Donate Form-->
                    <div class="donate-form">
                        <div class="form-box">
                            <form method="post" action="donate.html">
                                <div class="row clearfix">
                                    <!--Form Group-->
                                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                        <div class="field-inner">
                                            <input type="text" name="field-name" value="" placeholder="Name *" required>
                                        </div>
                                    </div>
                                    <!--Form Group-->
                                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                        <div class="field-inner">
                                            <input type="email" name="field-name" value="" placeholder="Email *" required>
                                        </div>
                                    </div>
                                    <!--Form Group-->
                                    <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                        <div class="field-inner">
                                            <select class="custom-select-box">
                                                <option>Gender *</option>
                                                <option>Male</option>
                                                <option>Female</option>
                                            </select>
                                        </div>
                                    </div>

                                    <!--Form Group-->
                                    <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                        <div class="field-inner">
                                            <select class="custom-select-box">
                                                <option>Country *</option>
                                                <option>USA</option>
                                                <option>Canada</option>
                                                <option>England</option>
                                            </select>
                                        </div>
                                    </div>

                                    <!--Form Group-->
                                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                        <div class="field-inner">
                                            <textarea placeholder="Motivation"></textarea>
                                        </div>
                                    </div>
                                    <!--Form Group-->
                                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                        <button class="theme-btn btn-style-one">Apply Now</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!--End Donate Form-->

                </div>
            </div>
        </div>
    </div>
</section>
<!--End Donation Section-->
<!--Gallery Section-->
<section class="gallery-section">
    <div class="auto-container">
        <!--Sec Title-->
        <div class="sec-title">
            <h2>We need your help ! </h2>
            <div class="separator"></div>
            <div class="text">We are always looking out and timely help disadvantaged, see our latest campaign, and if can you pledonaa</div>
        </div>

        <div class="row clearfix">
            <!--Default Portfolio Item-->
            <div class="default-portfolio-item col-lg-8 col-md-12 col-sm-12 col-xs-12">
                <div class="inner-box">
                    <figure class="image-box">
                        <img src="~/Content/Client/images/gallery/1.jpg" alt="">
                    </figure>
                    <!--Overlay Box-->
                    <div class="overlay-box">
                        <div class="overlay-inner">
                            <div class="content">
                                <h4>
                                    <a href="event-single.html">Material Supply</a>
                                </h4>
                                <div class="text">quis nostrud exercitation ullamco laboris</div>
                                <a href="~/Content/Client/images/gallery/1.jpg" class="lightbox-image option-btn" title="Image Caption Here" data-fancybox-group="example-gallery">
                                    <span class="flaticon-plus-symbol"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Default Portfolio Item-->
            <div class="default-portfolio-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <figure class="image-box">
                        <img src="~/Content/Client/images/gallery/2.jpg" alt="">
                    </figure>
                    <!--Overlay Box-->
                    <div class="overlay-box">
                        <div class="overlay-inner">
                            <div class="content">
                                <h4>
                                    <a href="event-single.html">Material Supply</a>
                                </h4>
                                <div class="text">quis nostrud exercitation ullamco laboris</div>
                                <a href="~/Content/Client/images/gallery/2.jpg" class="lightbox-image option-btn" title="Image Caption Here" data-fancybox-group="example-gallery">
                                    <span class="flaticon-plus-symbol"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Default Portfolio Item-->
            <div class="default-portfolio-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <figure class="image-box">
                        <img src="~/Content/Client/images/gallery/3.jpg" alt="">
                    </figure>
                    <!--Overlay Box-->
                    <div class="overlay-box">
                        <div class="overlay-inner">
                            <div class="content">
                                <h4>
                                    <a href="event-single.html">Material Supply</a>
                                </h4>
                                <div class="text">quis nostrud exercitation ullamco laboris</div>
                                <a href="~/Content/Client/images/gallery/3.jpg" class="lightbox-image option-btn" title="Image Caption Here" data-fancybox-group="example-gallery">
                                    <span class="flaticon-plus-symbol"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Default Portfolio Item-->
            <div class="default-portfolio-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <figure class="image-box">
                        <img src="~/Content/Client/images/gallery/4.jpg" alt="">
                    </figure>
                    <!--Overlay Box-->
                    <div class="overlay-box">
                        <div class="overlay-inner">
                            <div class="content">
                                <h4>
                                    <a href="event-single.html">Material Supply</a>
                                </h4>
                                <div class="text">quis nostrud exercitation ullamco laboris</div>
                                <a href="~/Content/Client/images/gallery/4.jpg" class="lightbox-image option-btn" title="Image Caption Here" data-fancybox-group="example-gallery">
                                    <span class="flaticon-plus-symbol"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Default Portfolio Item-->
            <div class="default-portfolio-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <figure class="image-box">
                        <img src="~/Content/Client/images/gallery/5.jpg" alt="">
                    </figure>
                    <!--Overlay Box-->
                    <div class="overlay-box">
                        <div class="overlay-inner">
                            <div class="content">
                                <h4>
                                    <a href="event-single.html">Material Supply</a>
                                </h4>
                                <div class="text">quis nostrud exercitation ullamco laboris</div>
                                <a href="~/Content/Client/images/gallery/5.jpg" class="lightbox-image option-btn" title="Image Caption Here" data-fancybox-group="example-gallery">
                                    <span class="flaticon-plus-symbol"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="text-center">
            <a href="event-single.html" class="theme-btn btn-style-one view-more">View More</a>
        </div>

    </div>
</section>
<!--End Gallery Section-->

<!--Subscribe Style One-->
<section class="subscribe-style-one" style="background-image:url(~/Content/Client/images/background/patten-1.png);">
    <div class="auto-container">
        <div class="row clearfix">
            <div class="column col-md-7 col-sm-6 col-xs-12">
                <h2>SUBSCRIBE FOR NEWSLETTER</h2>
                <div class="text">Lorem ipsum dolor sit amet, quo odio atqui tamquam eu, duo ex amet elitr.</div>
            </div>
            <div class="column col-md-5 col-sm-6 col-xs-12 text-right">
                <form method="post" action="contact.html">
                    <div class="form-group">
                        <input type="email" name="email" value="" placeholder="Email" required>
                        <button type="submit" class="theme-btn btn-style-one">Subscribe</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!--End Subscribe Style One-->

