﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>UniversalHaven - Login</title>
    <!-- Bootstrap -->
    @Styles.Render("~/Content/Admin/vendors/bootstrap/dist/css/bootstrap.min.css")
    <!-- Font Awesome -->
    @Styles.Render("~/Content/Admin/vendors/font-awesome/css/font-awesome.min.css")
    <!-- NProgress -->
    @Styles.Render("~/Content/Admin/vendors/nprogress/nprogress.css")
    <!-- Animate.css -->
    @Styles.Render("~/Content/Admin/vendors/animate.css/animate.min.css")
    <!-- Custom Theme Style -->
    @Styles.Render("~/Content/Admin/build/css/custom.min.css")
</head>
<body class="login">
    <div>
        <a class="hiddenanchor" id="signup"></a>
        <a class="hiddenanchor" id="signin"></a>
        <div class="login_wrapper">
            <div class="animate form login_form">
                <section class="login_content">
                    <form method="GET">
                        <h1>Login</h1>
                        <div>
                            <input type="text" class="form-control" placeholder="Username" name="login" required="" />
                        </div>
                        <div>
                            <input type="password" class="form-control" placeholder="Password" name="password" required="" />
                        </div>
                        <div>
                            <input style="margin:auto" type="submit" class="btn btn-default btn-block submit" value="Log in" />
                           
                            
                        </div>
                        <div class="clearfix"></div>
                        <div class="separator">
                            
                            <div class="clearfix"></div>
                           
                            <div>
                                <h1><img src="~/Content/Images/logo.png" style="width:150px;height:150px;" /></h1>
                                <h1><i class="fa fa-paw"></i>UniversalHaven!</h1>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
            <div id="register" class="animate form registration_form">
                <section class="login_content">
                    <form>
                        <h1>Create Account</h1>
                        <div>
                            <input type="text" class="form-control" placeholder="Username" required="" />
                        </div>
                        <div>
                            <input type="email" class="form-control" placeholder="Email" required="" />
                        </div>
                        <div>
                            <input type="password" class="form-control" placeholder="Password" required="" />
                        </div>
                        <div>
                            <a class="btn btn-default submit" href="index.html">Submit</a>
                        </div>
                        <div class="clearfix"></div>
                        <div class="separator">
                            <p class="change_link">
                                Already a member ?
                                <a href="#signin" class="to_register"> Log in </a>
                            </p>
                            <div class="clearfix"></div>
                            <br />
                            <div>
                                <h1><i class="fa fa-paw"></i> UniversalHaven</h1>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</body>
</html>
