﻿
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Gentelella Alela! | </title>

    <!-- Bootstrap -->
    @Styles.Render("~/Content/Admin/vendors/bootstrap/dist/css/bootstrap.min.css")
    <!-- Font Awesome -->
    @Styles.Render("~/Content/Admin/vendors/font-awesome/css/font-awesome.min.css")
    <!-- NProgress -->
    @Styles.Render("~/Content/Admin/vendors/nprogress/nprogress.css")

    <!-- Custom Theme Style -->
    @Styles.Render("~/Content/Admin/build/css/custom.min.css")
</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <!-- page content -->
            <div class="col-md-12">
                <div class="col-middle">
                    <div class="text-center text-center">
                        <h1 class="error-number">403</h1>
                        <h2>Access denied</h2>
                        <p>
                            Full authentication is required to access this resource. 
                        </p>
                        
                    </div>
                </div>
            </div>
            <!-- /page content -->
        </div>
    </div>

   
    <!-- jQuery -->
    @Scripts.Render("~/Content/Admin/vendors/jquery/dist/jquery.min.js")
    <!-- Bootstrap -->
    @Scripts.Render("~/Content/Admin/vendors/bootstrap/dist/js/bootstrap.min.js")
    <!-- FastClick -->
    @Scripts.Render("~/Content/Admin/vendors/fastclick/lib/fastclick.js")
    <!-- NProgress -->
    @Scripts.Render("~/Content/Admin/vendors/nprogress/nprogress.js")
    <!-- Custom Theme Scripts -->
    @Scripts.Render("~/Content/Admin/build/js/custom.min.js")
</body>
</html>
