﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Universalhaven </title>
    <!-- Bootstrap -->
    @Styles.Render("~/Content/Admin/vendors/bootstrap/dist/css/bootstrap.min.css")
    <!-- Font Awesome -->
    @Styles.Render("~/Content/Admin/vendors/font-awesome/css/font-awesome.min.css")
    <!-- NProgress -->
    @Styles.Render("~/Content/Admin/vendors/nprogress/nprogress.css")
    
    <!-- iCheck -->
    @Styles.Render("~/Content/Admin/vendors/iCheck/skins/flat/green.css")

    @Styles.Render("~/Content/Admin/vendors/google/prettify.min.css")

    <!-- bootstrap-progressbar -->
    @Styles.Render("~/Content/Admin/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css")
    <!-- JQVMap -->
    @Styles.Render("~/Content/Admin/vendors/jqvmap/dist/jqvmap.min.css")
    <!-- Switchery -->
    @Styles.Render("~/Content/Admin/vendors/switchery/dist/switchery.min.css")

    <!-- bootstrap-daterangepicker -->
    @Styles.Render("~/Content/Admin/vendors/bootstrap-daterangepicker/daterangepicker.css")
    <!-- Datatables -->
    @Styles.Render("~/Content/Admin/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css")
    @Styles.Render("~/Content/Admin/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css")
    @Styles.Render("~/Content/Admin/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css")
    @Styles.Render("~/Content/Admin/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css")
    @Styles.Render("~/Content/Admin/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css")
    @Styles.Render("~/Content/Admin/vendors/nprogress/nprogress.css")

    <!-- PNotify -->
    <link href="~/Content/Admin/vendors/pnotify/dist/pnotify.css" rel="stylesheet">
    <link href="~/Content/Admin/vendors/pnotify/dist/pnotify.buttons.css" rel="stylesheet">
    <link href="~/Content/Admin/vendors/pnotify/dist/pnotify.nonblock.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    @Styles.Render("~/Content/Admin/build/css/custom.min.css")


    <!-- PNotify -->
    <link href="~/Content/Admin/vendors/pnotify/dist/pnotify.css" rel="stylesheet">
    <link href="~/Content/Admin/vendors/pnotify/dist/pnotify.buttons.css" rel="stylesheet">
    <link href="~/Content/Admin/vendors/pnotify/dist/pnotify.nonblock.css" rel="stylesheet">
    @{ 
        long userid = (long)Session["idUser"];
    }
</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0">
                        <a href="/admin" class="site_title"> <span>Universalhaven</span></a>
                    </div>
                    <div class="clearfix"></div>
                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                        <div class="profile_pic">
                            <img src=" @Web.Helpers.UserHelper.GetUserPicPath(userid)" alt="..." class="img-circle profile_img">
                        </div>
                        <div class="profile_info">
                            <span>Welcome,</span>
                            <h2>@Web.Helpers.UserHelper.GetUserName(userid) </h2>
                        </div>
                    </div>
                    <!-- /menu profile quick info -->
                    <br />
                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>General</h3>
                            <ul class="nav side-menu">

                                <li>
                                    <a><i class="fa fa-building-o"></i> Camps <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="/Camp">View Camps </a></li>
                                        <li><a href="/Camp/Create">Create a Camp </a></li>
                                        <li><a href="/Room/Create">Create a Room </a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-envelope"></i> Mails <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="/Mail">Inbox </a></li>
                                        <li><a href="/Mail/Newsletters">NewsLetter</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-child"></i> Refugees <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="/Refugee">Refugees </a></li>
                                        <li><a href="/Refugee/Create">Create Refugees</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-user"></i> Users <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="#">Sub menu 1 </a></li>
                                        <li><a href="#">Sub menu 2 </a></li>
                                        <li><a href="#">Sub menu 3 </a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-tasks"></i> Tasks <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="/Task"> View tasks </a></li>
                                        <li><a href="/Task/Create"> Assign a task </a></li>
                                        <li><a href="/Task/stats"> Stats </a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-life-bouy"></i> Fundraising events <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="@Url.Action("getAll", "FundraisingEvent")">All events </a></li>
                                        <li><a href="@Url.Action("getByUser", "FundraisingEvent")">My events </a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-inbox"></i> Suggestions <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="@Url.Action("Index", "Suggestion")">All suggestions </a></li>
                                        <li><a href="@Url.Action("getByUser", "Suggestion")">My suggestions </a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-archive"></i> Stock <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="#">Sub menu 1 </a></li>
                                        <li><a href="#">Sub menu 2 </a></li>
                                        <li><a href="#">Sub menu 3 </a></li>
                                    </ul>
                                </li>
                             
                                <li>
                                    <a><i class="fa fa-star"></i> Activities <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="#">Sub menu 1 </a></li>
                                        <li><a href="#">Sub menu 2 </a></li>
                                        <li><a href="#">Sub menu 3 </a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="/Donation"><i class="fa fa-money"></i> Donations </a>
                                    
                                </li>
                              
                            </ul>
                        </div>
                    </div>
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <!-- /menu footer buttons -->
                </div>
            </div>
            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <img src="images/img.jpg" alt="">@Session["userName"]
                                    <span class=" fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                    <li><a href="javascript:"> Profile</a></li>
                                    <li>
                                        <a href="javascript:">
                                            <span class="badge bg-red pull-right">50%</span>
                                            <span>Settings</span>
                                        </a>
                                    </li>
                                    <li><a href="javascript:">Help</a></li>
                                    <li><a href="/Home/LogOut"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                                </ul>
                            </li>
                            <li role="presentation" class="dropdown">
                                <a href="javascript:" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-bell-o"></i>
                                    <span id="notifcount" class="badge bg-green">0</span>
                                </a>
                                <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                                    <li id="newtask" style="display:none">
                                        <a href="/Task">
                                            <span class="image"><img src=" @Web.Helpers.UserHelper.GetUserPicPath(userid)" alt="Profile Image" /></span>
                                            <span>
                                                <span id="assigner">John Smith</span>
                                                <span class="time">Just now</span>
                                            </span>
                                            <span class="message">
                                                A new task has been assigned to you
                                            </span>
                                        </a>
                                    </li>
                                    
                                   
                                   
                                   
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
                @RenderBody()
                <div class="clearfix"></div>
            </div>
            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    UniversalHaven <a href="https://colorlib.com">Colorlib</a>
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>

       
    </div>
    <div id="notification" class="alert alert-info" style="position:absolute;bottom:0;right:0;margin-right:2em;margin-bottom:3em;display:none">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <a style="text-decoration:unset;color:white" href="/Task"> A new task has been assigned to you </a>
    </div>
    <!-- jQuery -->
    @Scripts.Render("~/Content/Admin/vendors/jquery/dist/jquery.min.js")
    <!-- Bootstrap -->
    @Scripts.Render("~/Content/Admin/vendors/bootstrap/dist/js/bootstrap.min.js")
    <!-- FastClick -->
    @Scripts.Render("~/Content/Admin/vendors/fastclick/lib/fastclick.js")
    <!-- NProgress -->
    @Scripts.Render("~/Content/Admin/vendors/nprogress/nprogress.js")
    <!-- Chart.js -->
    @Scripts.Render("~/Content/Admin/vendors/Chart.js/dist/Chart.min.js")
    <!-- gauge.js -->
    @Scripts.Render("~/Content/Admin/vendors/gauge.js/dist/gauge.min.js")
    <!-- bootstrap-progressbar -->
    @Scripts.Render("~/Content/Admin/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js")
    <!-- iCheck -->
    @Scripts.Render("~/Content/Admin/vendors/iCheck/icheck.min.js")
    <!-- Skycons -->
    @Scripts.Render("~/Content/Admin/vendors/skycons/skycons.js")
    <!-- Flot -->
    @Scripts.Render("~/Content/Admin/vendors/Flot/jquery.flot.js")
    @Scripts.Render("~/Content/Admin/vendors/Flot/jquery.flot.time.js")
    @Scripts.Render("~/Content/Admin/vendors/Flot/jquery.flot.stack.js")
    @Scripts.Render("~/Content/Admin/vendors/Flot/jquery.flot.resize.js")
    @Scripts.Render("~/Content/Admin/vendors/Flot/jquery.flot.pie.js")
    <!-- Flot plugins -->
    @Scripts.Render("~/Content/Admin/vendors/flot.orderbars/js/jquery.flot.orderBars.js")
    @Scripts.Render("~/Content/Admin/vendors/flot-spline/js/jquery.flot.spline.min.js")
    @Scripts.Render("~/Content/Admin/vendors/flot.curvedlines/curvedLines.js")
    <!-- DateJS -->
    @Scripts.Render("~/Content/Admin/vendors/DateJS/build/date.js")
    <!-- JQVMap -->
    @Scripts.Render("~/Content/Admin/vendors/jqvmap/dist/jquery.vmap.js")
    @Scripts.Render("~/Content/Admin/vendors/jqvmap/dist/maps/jquery.vmap.world.js")
    @Scripts.Render("~/Content/Admin/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js")
    <!-- bootstrap-daterangepicker -->
    @Scripts.Render("~/Content/Admin/vendors/moment/min/moment.min.js")
    @Scripts.Render("~/Content/Admin/vendors/bootstrap-daterangepicker/daterangepicker.js")
    @Scripts.Render("~/Content/Admin/vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js")
    @Scripts.Render("~/Content/Admin/vendors/jquery.hotkeys/jquery.hotkeys.js")
    @Scripts.Render("~/Content/Admin/vendors/google-code-prettify/src/prettify.js")
    <!-- Datatables -->
    @Scripts.Render("~/Content/Admin/vendors/datatables.net/js/jquery.dataTables.min.js")
    @Scripts.Render("~/Content/Admin/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js")
    @Scripts.Render("~/Content/Admin/vendors/datatables.net-buttons/js/dataTables.buttons.min.js")
    @Scripts.Render("~/Content/Admin/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js")
    @Scripts.Render("~/Content/Admin/vendors/datatables.net-buttons/js/buttons.flash.min.js")
    @Scripts.Render("~/Content/Admin/vendors/datatables.net-buttons/js/buttons.html5.min.js")
    @Scripts.Render("~/Content/Admin/vendors/datatables.net-buttons/js/buttons.print.min.js")
    @Scripts.Render("~/Content/Admin/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js")
    @Scripts.Render("~/Content/Admin/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js")
    @Scripts.Render("~/Content/Admin/vendors/datatables.net-responsive/js/dataTables.responsive.min.js")
    @Scripts.Render("~/Content/Admin/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js")
    @Scripts.Render("~/Content/Admin/vendors/datatables.net-scroller/js/dataTables.scroller.min.js")
    @Scripts.Render("~/Content/Admin/vendors/jszip/dist/jszip.min.js")
    @Scripts.Render("~/Content/Admin/vendors/pdfmake/build/pdfmake.min.js")
    @Scripts.Render("~/Content/Admin/vendors/pdfmake/build/vfs_fonts.js")
    <!-- Switchery -->
    @Scripts.Render("~/Content/Admin/vendors/switchery/dist/switchery.min.js")
    <!-- jQuery Smart Wizard -->
    @Scripts.Render("~/Content/Admin/vendors/jQuery-Smart-Wizard/js/jquery.smartWizard.js")
    <!-- Custom Theme Scripts -->
    @Scripts.Render("~/Content/Admin/build/js/custom.js")
    @Scripts.Render("~/Content/Admin/chartutils.js")
    @Scripts.Render("~/Content/Admin/interact.min.js")
    <!-- PNotify -->
    <script src="~/Content/Admin/vendors/pnotify/dist/pnotify.js"></script>
    <script src="~/Content/Admin/vendors/pnotify/dist/pnotify.buttons.js"></script>
    <script src="~/Content/Admin/vendors/pnotify/dist/pnotify.nonblock.js"></script>
    @Scripts.Render("~/Content/Admin/vendors/validator/validator.js")
    @RenderSection("Scripts", false)
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <!--Reference the autogenerated SignalR hub script. -->
    <script src="~/signalr/hubs"></script>
    @if  ( ( @Session["userRole"]!=null) && ( @Session["userRole"].Equals("CAMP_STAFF") ) ){
        <!--Script references. -->
        <!--The jQuery library is required and is referenced by default in _Layout.cshtml. -->
        <!--Reference the SignalR library. -->

        
        <!--SignalR script to update the chat page and send messages.-->
        <script>
         var displayName='@Session["idUser"]';
        $(function () {
            // Reference the auto-generated proxy for the hub.
            var chat = $.connection.taskHub;
            // Create a function that the hub can call back to display messages.
            chat.client.addNewMessageToPage = function (name, message) {
                if (message == displayName)
                {
                    new PNotify({
                        title: 'New task',
                        text: 'A new task has been assigned to you',
                        text_escape: false,
                        styling: 'bootstrap3'
                    });
                    $("#assigner").html(name);
                    $("#newtask").show();
                    $("#notifcount").html(parseInt($("#notifcount").html()) + 1);
                    //$("#notification").fadeIn();
                }
            };
            // Get the user name and store it to prepend to messages.


            // Start the connection.
            $.connection.hub.start().done(function () {
                
            });
        });
        // This optional function html-encodes messages for display in the page.
        function htmlEncode(value) {
            var encodedValue = $('<div />').text(value).html();
            return encodedValue;
        }
        </script>
    }
</body>
</html>
