﻿<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Welcome to universalhaven</title>
    <!-- Stylesheets -->
    @Styles.Render("~/Content/Client/css/bootstrap.css")
    @Styles.Render("~/Content/Client/css/revolution-slider.css")
    @Styles.Render("~/Content/Client/css/jquery-ui.css")
    @Styles.Render("~/Content/Client/css/style.css")
    
    <link rel="shortcut icon" href="~/Content/Client/~/Content/Client/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/Content/Client/~/Content/Client/images/favicon.ico" type="image/x-icon">
    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    @Styles.Render("~/Content/Client/css/responsive.css")
    <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body>

    <div class="page-wrapper">

        <!-- Preloader -->
        <div class="preloader"></div>

        <!-- Main Header -->
        <header class="main-header">
            <!-- Header Top One-->
            <div class="header-top-one">
                <div class="auto-container">
                    <div class="clearfix">

                        <!--Top Left-->
                        <div class="top-left top-links">
                            <ul class="clearfix">
                                <li>
                                    <span class="icon fa fa-phone"></span>
                                    <a href="#">1800 123 4567 - 1800 123 4568</a>
                                </li>
                                <li>
                                    <span class="icon fa fa-envelope-o"></span>
                                    <a href="#">info@universalhaven.com</a>
                                </li>
                            </ul>
                        </div>

                        <!--Top Right-->
                        <div class="top-right">
                            <div class="social-icon">
                                <a href="#">
                                    <span class="fa fa-facebook"></span>
                                </a>
                                <a href="#">
                                    <span class="fa fa-twitter"></span>
                                </a>
                                <a href="#">
                                    <span class="fa fa-google-plus"></span>
                                </a>
                                <a href="#">
                                    <span class="fa fa-youtube"></span>
                                </a>
                                <a href="#">
                                    <span class="fa fa-instagram"></span>
                                </a>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <!-- Header Top One End -->
            <!-- Header Lower -->
            <div class="header-lower">
                <div class="main-box">
                    <div class="auto-container">
                        <div class="outer-container clearfix">
                            <!--Logo Box-->
                            <div class="logo-box">
                                <div class="logo">
                                    <a href="index.html">
                                        <img style="width:140px;height:140px;" src="~/Content/Client/images/logo2.png" alt="">
                                    </a>
                                </div>
                            </div>

                            <!--Nav Outer-->
                            <div class="nav-outer clearfix">
                                <!-- Main Menu -->
                                <nav class="main-menu">
                                    <div class="navbar-header">
                                        <!-- Toggle Button -->
                                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button>
                                    </div>

                                    <div class="navbar-collapse collapse clearfix">
                                        <ul class="navigation clearfix">
                                            <li>
                                                <a class="current" href="#">Home</a>
                                            </li>

                                            <li class="dropdown">
                                                <a href="@Url.Action("getAllEventsForClient", "FundraisingEvent")">Fundraising events</a>
                                                <ul>
                                                    <li><a href="@Url.Action("getFinishedEventsForClient", "FundraisingEvent")">Finished events</a></li>
                                                    <li><a href="@Url.Action("getInProgressEventsForClient", "FundraisingEvent")">In progress events</a></li>
                                                    <li><a href="@Url.Action("getLowStateEvents", "FundraisingEvent")">Low state events</a></li>
                                                    <li><a href="@Url.Action("getMediumStateEvents", "FundraisingEvent")">Medium state events</a></li>
                                                    <li><a href="@Url.Action("getHighStateEvents", "FundraisingEvent")">High state events</a></li>
                                                    <li><a href="@Url.Action("statsForClient", "FundraisingEvent")">Stats</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="services.html">Call for help</a>
                                            </li>
                                            <li>
                                                <a href="services.html">Become a volunteer</a>
                                            </li>

                                            <li>
                                                <a href="Mail/ContactUs">Contact Us</a>
                                            </li>

                                        </ul>
                                    </div>
                                </nav>
                                <!-- Main Menu End-->
                                <!--Donate Button-->
                                <div class="don-btn-outer">
                                    <a href="/Donation/Create" class="theme-btn donate-btn">Donate Now</a>
                                </div>

                            </div>
                            <!--Nav Outer End-->

                        </div>
                    </div>
                </div>
            </div>

            <!--Sticky Header-->
            <div class="sticky-header">
                <div class="auto-container clearfix">
                    <!--Logo-->
                    <div class="logo pull-left">
                        <a href="index.html" class="img-responsive">
                            <img src="~/Content/Client/images/logo2.png" style="width:60px;height:60px" alt="" title="">
                        </a>
                    </div>

                    <!--Right Col-->
                    <div class="right-col pull-right">
                        <!-- Main Menu -->
                        <nav class="main-menu">
                            <div class="navbar-header">
                                <!-- Toggle Button -->
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>

                            <div class="navbar-collapse collapse clearfix">
                                <ul class="navigation clearfix">
                                    <li>
                                        <a class="current" href="#">Home</a>
                                    </li>

                                    <li>
                                        <a href="about-us.html">Fundraising events</a>
                                    </li>
                                    <li>
                                        <a href="services.html">Call for help</a>
                                    </li>

                                    <li>
                                        <a href="services.html">Become a volunteer</a>
                                    </li>

                                    <li>
                                        <a href="contact.html">Contact Us</a>
                                    </li>

                                </ul>
                            </div>
                        </nav>
                        <!-- Main Menu End-->
                    </div>

                </div>
            </div>
            <!--End Sticky Header-->

        </header>
        <!--End Main Header -->
        <!--Main Slider-->
        @RenderBody()
        <!--End Subscribe Style One-->
        <!--Main Footer-->
        <footer class="main-footer">
            <div class="widgets-section">
                <div class="auto-container">
                    <div class="row clearfix">
                        <!--Footer Column-->
                        <div class="footer-column col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="footer-widget contact-widget">

                                <div class="widget-content">
                                    <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</div>
                                    <ul class="contact-info">
                                        <li>
                                            <div class="icon">
                                                <span class="flaticon-house"></span>
                                            </div>Collins Street West,121 King Street, Melbourne.
                                        </li>
                                        <li>
                                            <div class="icon">
                                                <span class="flaticon-technology-1"></span>
                                            </div>+(11)123 456 7890,
                                        </li>
                                        <li>
                                            <div class="icon">
                                                <span class="flaticon-envelope-1"></span>
                                            </div>info@Samara.com
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--Footer Column-->
                        <div class="footer-column col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <div class="footer-widget gallery-widget">
                                <h2>Our GALLERY</h2>
                                <div class="widget-content">
                                    <div class="images-outer clearfix">
                                        <!--Image Box-->
                                        <figure class="image-box">
                                            <a href="~/Content/Client/images/resource/featured-image-1.jpg" class="lightbox-image" title="Image Title Here" data-fancybox-group="footer-gallery">
                                                <img src="~/Content/Client/images/gallery/footer-gallery-thumb-1.jpg" alt="">
                                            </a>
                                        </figure>
                                        <!--Image Box-->
                                        <figure class="image-box">
                                            <a href="~/Content/Client/images/resource/featured-image-2.jpg" class="lightbox-image" title="Image Title Here" data-fancybox-group="footer-gallery">
                                                <img src="~/Content/Client/images/gallery/footer-gallery-thumb-2.jpg" alt="">
                                            </a>
                                        </figure>
                                        <!--Image Box-->
                                        <figure class="image-box">
                                            <a href="~/Content/Client/images/resource/featured-image-3.jpg" class="lightbox-image" title="Image Title Here" data-fancybox-group="footer-gallery">
                                                <img src="~/Content/Client/images/gallery/footer-gallery-thumb-3.jpg" alt="">
                                            </a>
                                        </figure>
                                        <!--Image Box-->
                                        <figure class="image-box">
                                            <a href="~/Content/Client/images/resource/featured-image-1.jpg" class="lightbox-image" title="Image Title Here" data-fancybox-group="footer-gallery">
                                                <img src="~/Content/Client/images/gallery/footer-gallery-thumb-4.jpg" alt="">
                                            </a>
                                        </figure>
                                        <!--Image Box-->
                                        <figure class="image-box">
                                            <a href="~/Content/Client/images/resource/featured-image-2.jpg" class="lightbox-image" title="Image Title Here" data-fancybox-group="footer-gallery">
                                                <img src="~/Content/Client/images/gallery/footer-gallery-thumb-5.jpg" alt="">
                                            </a>
                                        </figure>
                                        <!--Image Box-->
                                        <figure class="image-box">
                                            <a href="~/Content/Client/images/resource/featured-image-3.jpg" class="lightbox-image" title="Image Title Here" data-fancybox-group="footer-gallery">
                                                <img src="~/Content/Client/images/gallery/footer-gallery-thumb-6.jpg" alt="">
                                            </a>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Footer Column-->
                        <div class="footer-column col-lg-5 col-md-4 col-sm-6 col-xs-12">
                            <div class="footer-widget partner-widget">
                                <h2>OUR PARTNERS</h2>
                                <!--footer sponsors slider-->
                                <div class="footer-sponsors-slider owl-carousel owl-theme">
                                    <div class="slide">
                                        <a href="#">
                                            <img src="~/Content/Client/images/sponsors/footer-sponsor-1.png" alt="" />
                                        </a>
                                    </div>
                                    <div class="slide">
                                        <a href="#">
                                            <img src="~/Content/Client/images/sponsors/footer-sponsor-2.png" alt="" />
                                        </a>
                                    </div>
                                    <div class="slide">
                                        <a href="#">
                                            <img src="~/Content/Client/images/sponsors/footer-sponsor-3.png" alt="" />
                                        </a>
                                    </div>
                                    <div class="slide">
                                        <a href="#">
                                            <img src="~/Content/Client/images/sponsors/footer-sponsor-4.png" alt="" />
                                        </a>
                                    </div>
                                    <div class="slide">
                                        <a href="#">
                                            <img src="~/Content/Client/images/sponsors/footer-sponsor-1.png" alt="" />
                                        </a>
                                    </div>
                                    <div class="slide">
                                        <a href="#">
                                            <img src="~/Content/Client/images/sponsors/footer-sponsor-2.png" alt="" />
                                        </a>
                                    </div>
                                    <div class="slide">
                                        <a href="#">
                                            <img src="~/Content/Client/images/sponsors/footer-sponsor-3.png" alt="" />
                                        </a>
                                    </div>
                                    <div class="slide">
                                        <a href="#">
                                            <img src="~/Content/Client/images/sponsors/footer-sponsor-4.png" alt="" />
                                        </a>
                                    </div>
                                </div>

                                <h2>NEWSLETTTER SIGN-UP</h2>
                                <!--newsletter form-->
                                <div class="newsletter-form">
                                    <form method="post" action="contact.html">
                                        <div class="form-group">
                                            <input type="email" name="email" value="" placeholder="Email" required>
                                            <button type="submit" class="theme-btn">Subscribe</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="auto-container">
                    <div class="row clearfix">
                        <div class="column col-md-6 col-sm-6 col-xs-12">
                            <div class="copyright">&copy; 2017 Universalhaven - Undefined team All Rights Reserved</div>
                        </div>
                        <div class="column col-md-6 col-sm-6 col-xs-12">
                            <div class="footer-icon">
                                <a href="#">
                                    <span class="fa fa-facebook"></span>
                                </a>
                                <a href="#">
                                    <span class="fa fa-twitter"></span>
                                </a>
                                <a href="#">
                                    <span class="fa fa-google-plus"></span>
                                </a>
                                <a href="#">
                                    <span class="fa fa-instagram"></span>
                                </a>
                                <a href="#">
                                    <span class="fa fa-youtube"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!--End Main Footer-->

    </div>
    <!--End pagewrapper-->
    <!--Scroll to top-->
    <div class="scroll-to-top scroll-to-target" data-target="html">
        <span class="fa fa-long-arrow-up"></span>
    </div>
        
    @Scripts.Render("~/Content/Client/js/jquery.js")
    @Scripts.Render("~/Content/Client/js/bootstrap.min.js")
    @Scripts.Render("~/Content/Client/js/revolution.min.js")
    @Scripts.Render("~/Content/Client/js/jquery-ui.js")
    @Scripts.Render("~/Content/Client/js/jquery.fancybox.pack.js")
    @Scripts.Render("~/Content/Client/js/jquery.fancybox.media.js")
    @Scripts.Render("~/Content/Client/js/owl.js")
    @Scripts.Render("~/Content/Client/js/wow.js")
    @Scripts.Render("~/Content/Client/js/appear.js")
    @Scripts.Render("~/Content/Client/js/script.js")
    <script src="http://maps.google.com/maps/api/js?key=AIzaSyCnmpWtBuHWxFfEJa3RpRZ8nqsMt7gU_Cg"></script>
    @Scripts.Render("~/Content/Client/js/map-script.js")
    @RenderSection("Scripts", false)
</body>

</html>