﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
    <!-- top tiles -->
    <div class="row tile_count">
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-user"></i> Total Camps</span>
            <div class="count campsnumber"></div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-clock-o"></i> Total Rooms</span>
            <div class="count">@ViewBag.totalroom</div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-user"></i> Total Males</span>
            <div class="count green">@ViewBag.males</div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-user"></i> Total Females</span>
            <div class="count">@ViewBag.females</div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-user"></i> Total Refugees</span>
            <div class="count">@ViewBag.total</div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top" style="font-size:15px">Rooms Type </span><br />
            <span class="count_top"><i class="fa fa-user"></i>Males @ViewBag.Male </span><br />
            <span class="count_top"><i class="fa fa-user"></i>Females @ViewBag.Female</span><br />
            <span class="count_top"><i class="fa fa-user"></i>Couple @ViewBag.Couple</span><br />
            <span class="count_top"><i class="fa fa-user"></i>Families @ViewBag.Families</span>
        </div>
    </div>
<div class="row">

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Camps location <small>geo-presentation</small></h2>
              
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="dashboard-widget-content">
                    <div class="col-md-4 hidden-small">
                        <h2 class="line_30"></h2>

                        <table class="countries_list" >
                            <tbody id="countries_list">
                            </tbody>
                        </table>
                    </div>
                    <div id="world-map-gdp" class="col-md-8 col-sm-12 col-xs-12" style="height:230px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Camps</h2>
          
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            
            <table id="datatable-checkbox" class="table table-striped table-bordered bulk_action">
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Country</th>
                        <th>Status</th>
                        <th>Occupancy</th>
                        <th>Capacity</th>
                        <th>Camp Manager</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="countrytable">
            
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts{
@if (ViewBag.message != "")
{

<script>
        new PNotify({
            title: 'Success',
            text: 'Camp/Room added successfully',
            type: 'success',
            styling: 'bootstrap3'
        });
</script>
}




   <script>
       var jsonn = '@ViewBag.getcamppercoutry';

       var xyz = JSON.parse(jsonn.replace(/&quot;/g, '"'));
       console.log(xyz)
       for (item in xyz) {
           for (subItem in xyz[item]) {
               var p = (xyz[item][subItem].campCreator);
               input = ' <input type="checkbox" class="checkbox js-switch" name="' + xyz[item][subItem].id + '"/> <div class="stat">Disbanded</div>';
               if (xyz[item][subItem].closingDate == null){
                   input = ' <input type="checkbox" class="checkbox js-switch" checked name="' + xyz[item][subItem].id + '"/> <div class="stat">Active</div>';
               }
               $("#countrytable").append('<tr><th><input type="checkbox" id="check- all" class="flat"></th></td><td>' + xyz[item][subItem].name + '</td><td>' + xyz[item][subItem].country + '</td><td>' + input + '</td><td>' + xyz[item][subItem].occupancy + '</td><td>' + xyz[item][subItem].capacity + '</td><td>' + xyz[item][subItem].campManager["name"] + " " + xyz[item][subItem].campManager["surname"] + '</td><td><a href="/camp/UpdateCamp/' + xyz[item][subItem].id +'">Edit</a></td></tr>');

           }
       }
      var json = '@ViewBag.countcamppercoutry';
       var xw = JSON.parse(json.replace(/&quot;/g, '"'));
       console.log(xw)
       var countrynumber = 0;
       var campsnumber = 0;
       $(document).ready(function () {
           for (var key in xw) {
               if (xw.hasOwnProperty(key)) {

                   countrynumber = countrynumber + 1;
                   campsnumber = campsnumber + xw[key];
                   $("#countries_list").append("<tr><td>" + key + "</td><td class='fs15 fw700 text- right'>" + xw[key] + "</td></tr>");
               }
           }
           $(".line_30").text(campsnumber + " Camps from " + countrynumber + " countries")
           $(".campsnumber").text(campsnumber)

       });
       var t;
       $(".checkbox").change(function () {
           var elem = $(this);
           t = elem;
           if (elem[0].checked) {

               $str = elem.attr('name');
                       $.ajaxSetup({
                           headers: { "authorization": "@ViewBag.token" }
                       });
                       $.ajax({
                           type: "PUT",
                           url: "http://127.0.0.1:18080/universalhaven-web/rest/camp/activatecamps",
                           data: { "id": $str},
                           success: function (data) {
                               elem.parent().children()[2].innerHTML = "Active";
                               t.attr('checked', true);
                           }
                       });
           }
           else {
              
               $str = elem.attr('name');
                       $.ajaxSetup({
                           headers: { "authorization": "@ViewBag.token" }
                       });
                       $.ajax({
                           type: "PUT",
                           url: "http://127.0.0.1:18080/universalhaven-web/rest/camp/disbandcamps",
                           data: { "id": $str},
                           success: function (data) {
                               elem.parent().children()[2].innerHTML = "Disbanded";
                               t.attr('checked', false);
                              
                           }
                       });
           }
       });

</script>
 }