﻿
@{
    ViewBag.Title = "UpdateCamp";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCnmpWtBuHWxFfEJa3RpRZ8nqsMt7gU_Cg&language=en">
</script>

<style>
    #geomap {
        height: 400px;
        width: 100%;
    }
</style>

<div class="x_panel">
    <div class="x_title">
        <h2>Update Camp</h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <form method="post" id="demo-form" action="/Camp/UpdateCamp" data-parsley-validate>
            <input type="hidden" name="campid" value="@ViewBag.idcamp"/>
            <label for="campname">Camp Name * :</label>
            <input type="text" id="campname" class="form-control" name="campname" required  />
            <label for="address">address (20 chars min, 100 max) :</label>
            <textarea id="address" required="required" class="form-control" name="address" data-parsley-trigger="keyup" data-parsley-minlength="20" data-parsley-maxlength="100" data-parsley-minlength-message="Come on! You need to enter at least a 20 caracters long comment.."
                      data-parsley-validation-threshold="10"></textarea>
            <label for="superficy">superficy * :</label>
            <input type="text" id="superficy" class="form-control" name="superficy" data-parsley-trigger="change" required />
            <label for="capacity">capacity * :</label>
            <input type="number" id="capacity" class="form-control" name="capacity" data-parsley-trigger="change" required />
            <label for="occupancy">occupancy * :</label>
            <input type="number" id="occupancy" class="form-control" name="occupancy" data-parsley-trigger="change" required />
            <label for="budget">budget * :</label>
            <input type="text" id="budget" class="form-control" name="budget" data-parsley-trigger="change" required />
            <div id="demo"></div>
            <label>supplies:</label>
            <p style="padding: 5px;">
                <input type="checkbox" name="water" id="water" value="true" class="flat" /> water
                <br />

                <input type="checkbox" name="electricity" id="electricity" value="true" class="flat" /> electricity
                <br />
            <p>
                <label for="heard">Camp Manager *:</label>
                <select id="heard" class="form-control" required name="campManager">
                </select>
                <h4>Camp Location :</h4>
                <div id="geomap"></div>
                <input type="hidden" class="search_addr" name="country" id="country">
                <input type="hidden" class="search_latitude" name="latlng" id="latlng">
                <script>
var geocoder;
var map;
var marker;
function initialize() {
    var initialLat = $('.search_latitude').val();
    var initialLong
                        initialLat = initialLat ? initialLat : 35.8875705;
                        initialLong = initialLong ? initialLong : 10.5893767;
    var latlng = new google.maps.LatLng(initialLat, initialLong);
    var options = {
                            zoom: 8,
        center: latlng
    };
    map = new google.maps.Map(document.getElementById("geomap"), options);
    geocoder = new google.maps.Geocoder();
    marker = new google.maps.Marker({
                            map: map,
        draggable: true,
        position: latlng
    });
    google.maps.event.addListener(marker, "dragend", function () {
        var point = marker.getPosition();
        map.panTo(point);
        geocoder.geocode({'latLng': marker.getPosition()}, function (results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                            map.setCenter(results[0].geometry.location);
                        marker.setPosition(results[0].geometry.location);
                        var id = results[0].formatted_address;
                        var tabId = id.split(", ").pop();
                        $('.search_addr').val(tabId);
                        $('.search_latitude').val(marker.getPosition().lat() + "," + marker.getPosition().lng());
            }
        });
    });
}
$(document).ready(function () {
                            initialize();
    $('.get_map').click(function (e) {
        var address = $(PostCodeid).val();
        geocoder.geocode({'address': address}, function (results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                            map.setCenter(results[0].geometry.location);
                            marker.setPosition(results[0].geometry.location);
                            var id = results[0].formatted_address;
                            var tabId = id.split(", ").pop();
                            $('.search_addr').val(tabId);
                        $('.search_latitude').val(marker.getPosition().lat() + "," + marker.getPosition().lng());

            } else {
                            alert("Geocode was not successful for the following reason: " + status);
                        }
        });
        e.preventDefault();
    });
});
                </script>
                
                <br />
                <input type="submit" class="btn btn-primary" value="Edit">

        </form>

    </div>
</div>
<script>
    var campJ = '@ViewBag.getcamp';
    if (campJ != ''){
    var camp = JSON.parse(campJ.replace(/&quot;/g, '"'));
    $('#campname').val(camp.name);
    $('#address').val(camp.address);
    $('#superficy').val(camp.superficy );
    $('#capacity').val(camp.capacity );
    $('#occupancy').val(camp.occupancy );
    $('#budget').val(camp.budget);
    $('#country').val(camp.country);
    $('#latlng').val(camp.latLng);
    $('#heard').append("<option>" + camp.campManager.name + " " + camp.campManager.surname + " </option>");
    if (camp.water == 1) {
        $('#water').prop('checked', true);
    }
    if (camp.water == 1) {
        $('#electricity ').prop('checked', true);
    }

    }
    var json = '@ViewBag.getcampmanager';
    if (json != '') {
        var xw = JSON.parse(json.replace(/&quot;/g, '"'));

        for (var i = 0; i < xw.length; i++) {
            var obj = xw[i];
            var node = document.createElement("option");
            var textnode = document.createTextNode(obj.name + " " + obj.surname);
            node.appendChild(textnode);
            document.getElementById("heard").appendChild(node);
            document.getElementsByTagName("option")[i].setAttribute("value", obj.id);

        }

    }
    console.log(camp)



</script>

