﻿
@{
    ViewBag.Title = "Donate";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}

<!--Page Title-->
<section class="page-title" style="background-image:url(~/Content/Client/images/background/5.jpg);">
    <div class="auto-container">
        <div class="inner-box">
            <h1>DONATE NOW</h1>
            <ul class="bread-crumb">
                <li><a href="index.html">Home</a></li>
                <li>DONATE NOW</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->
<!--Donate Section-->
<section class="donate-now">
    <div class="auto-container">
        <div class="default-form">
            <form id="payment-form" method="post" action="/Donation/CreatePost">
                <input type="hidden" value="" id="token" name="token"/>
                <div class="row clearfix">

                    <!--Left Column-->
                    <div class="left-column col-md-6 col-sm-12 col-xs-12">
                        <div class="default-title"><h3>DONATION DETAILS</h3></div>
                        <div class="row clearfix">

                           

                            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                <div class="field-label">Would you like to make a regular donation?</div>
                                <select name="regular" id="regular">
                                    <option>Only once</option>
                                    <option>Every month</option>                              
                                </select>
                            </div>
                            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                <div class="field-label" type>How much would you like to donate?</div>
                                <div class="select-amount clearfix">
                                    <div class="select-box" style="display:none"><input type="radio" name="plan" value="five" id="radio-one"><label for="radio-one">$5</label></div>
                                    <div class="select-box" style="display:none"><input type="radio" name="plan" value="ten" id="radio-two"><label for="radio-two">$10</label></div>
                                    
                                    <div class="input-box"><input required type="text" name="amount" value="0" placeholder="Enter Your Amount"></div>
                                </div>
                            </div>
                            <div id="" class="form-group col-md-12 col-sm-12 col-xs-12">
                                <div class="field-label">Card Number</div>

                            </div>

                            <div id="card-number" class="form-group col-md-12 col-sm-12 col-xs-12">
                                
                                
                            </div>
                            <div style="display:none" id="card-errors" class="form-group col-md-12 col-sm-12 col-xs-12 alert alert-danger">

                            </div>

                        </div>

                    </div>

                    <!--Right Column-->
                    <div class="right-column col-md-6 col-sm-12 col-xs-12">
                        <div class="default-title"><h3>DONOR DETAILS</h3></div>
                        <div class="row clearfix">

                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                <div class="field-label">First Name *</div>
                                <input type="text" name="firstname" value="" placeholder="" required>
                            </div>
                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                <div class="field-label">Last Name</div>
                                <input type="text" name="lastname" value="" placeholder="">
                            </div>

                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                <div class="field-label">Email *</div>
                                <input type="email" name="email" value="" placeholder="" required>
                            </div>

                            <div class="form-group col-md-6 col-sm-6 col-xs-6">
                                <div class="field-label">Country</div>
                                <select name="country" id="country">
                                    
                                </select>
                            </div>

                            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                <div class="field-label">Address</div>
                                <textarea name="address" placeholder=""></textarea>
                            </div>

                            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                <button id="submit" type="submit" class="theme-btn btn-style-three">Submit Donation</button>
                            </div>

                        </div>

                    </div>

                </div>
            </form>

        </div>
    </div>
</section>


@section Scripts{
     <script src="https://js.stripe.com/v3/"></script>
     @Scripts.Render("~/Content/Client/js/countries.js")
     <script>
         for (i = 0; i < countries.length; i++) {
             var el = '<option value ="' + countries[i].code + '">' + countries[i].name + '</option>';
             $("#country").append(el);
         }
         $("#regular").change(function () {
             for (i = 0; i < countries.length; i++) {
                 var el = '<option value ="' + countries[i].code + '">' + countries[i].name + '</option>';
                 $("#country").append(el);
             }
             if ($(this).val().indexOf("once") != -1) {
                 
                 $(".select-amount .select-box").fadeOut();
                 $(".select-amount .input-box").fadeIn();
             }
             else {
                 $(".select-amount .select-box").fadeIn();
                 $(".select-amount .input-box").fadeOut();
             }
         });
         
         $(document).ready(function () {
             var stripe = Stripe('pk_test_VX83luKmf3HeJ7JI8B1ItSOU');
             var elements = stripe.elements();
             var card = elements.create('card');
             card.mount("#card-number");
             var form = document.getElementById('payment-form');
             form.addEventListener('submit', function (event) {
                 console.log("submitting..");
                 if ($("#token").val() != "") {
                     return;
                 }
                 event.preventDefault();

                 stripe.createToken(card).then(function (result) {
                     if (result.error) {
                         // Inform the user if there was an error
                         var errorElement = document.getElementById('card-errors');
                         errorElement.textContent = result.error.message;
                         $("#card-erros").show();
                     } else {
                         $("#card-errors").hide();
                         // Send the token to your server
                         stripeTokenHandler(result.token);
                     }
                 });
             });
             
             card.addEventListener('change', function (event) {
                 var displayError = document.getElementById('card-errors');
                 if (event.error) {
                     $("#card-errors").show();
                     displayError.textContent = event.error.message;
                 } else {
                     $("#card-errors").hide();
                     displayError.textContent = '';
                 }
             });
         })
         
         function stripeTokenHandler(token) {
             console.log("ti hani mchit l stripe w jit ! ");
             $("#token").val(token.id);
             $("#submit").click();
         }
         
     </script>
}