﻿
@{
    ViewBag.Title = "CreatePost";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}

@if (ViewBag.error==true)
{
    <div class="alert alert-danger">
        @ViewBag.message
    </div>
    
}

@if (ViewBag.error == false) 
{  
    <div class="alert alert-success">
        @ViewBag.message
    </div>
}

