﻿
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Index";
}





<div class="row top_tiles">
    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
            <div class="icon"><i class="fa fa-money"></i></div>
            <div class="count">@ViewBag.average</div>
            <h3>Dollars</h3>
            <p><b>Average</b> donated amount</p>
        </div>
    </div>
    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
            <div class="icon"><i class="fa fa-money"></i></div>
            <div id="today" class="count">@ViewBag.overall.today</div>
            <h3>Dollars</h3>
            <p>Collected <b>today</b></p>
        </div>
    </div>
    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
            <div class="icon"><i class="fa fa-money"></i></div>
            <div id="thismonth" class="count">@ViewBag.overall.thismonth</div>
            <h3>Dollars</h3>
            <p>Collected <b>this month</b></p>
        </div>
    </div>
    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
            <div class="icon"><i class="fa fa-money"></i></div>
            <div id="thisyear" class="count">@ViewBag.overall.thisyear</div>
            <h3>Dollars</h3>
            <p>Collected <b>this year</b></p>
        </div>
    </div>
   
</div>

<div class="row">
    <div class="col-md-6">
        <div id="bycountry" style="height: 400px; position: relative; overflow: hidden;">

        </div>
    </div>
    <div class="col-md-6">
        <div id="bycountryavg" style="height: 400px; position: relative; overflow: hidden;">

        </div>
    </div>
</div>

<canvas id="perday"></canvas>


@section Scripts{
<script>

    $(document).ready(function () {
        var gdpDataCountries = '@ViewBag.bycountry';
        gdpDataCountries = JSON.parse(gdpDataCountries.replace(/&quot;/g, '"').toLowerCase());
        $("#bycountry").length && $("#bycountry").vectorMap({
            map: "world_en",
            backgroundColor: null,
            color: "#ffffff",
            hoverOpacity: .7,
            selectedColor: "#666666",
            enableZoom: !0,
            showTooltip: !0,
            values: gdpDataCountries,
            scaleColors: ["#E6F2F0", "#149B7E"],
            normalizeFunction: "polynomial",
            onLabelShow: function (e, el, code) {
                var amount = gdpDataCountries[code] !== undefined ? gdpDataCountries[code] : 0;

                el.html(el.html() + ' (Total donations - ' + amount + ' $)');
            }
        })
        var gdpDataCountriesAvg = '@ViewBag.bycountryaverage';
        gdpDataCountriesAvg = JSON.parse(gdpDataCountriesAvg.replace(/&quot;/g, '"').toLowerCase());
        $("#bycountryavg").length && $("#bycountryavg").vectorMap({
            map: "world_en",
            backgroundColor: null,
            color: "#ffffff",
            hoverOpacity: .7,
            selectedColor: "#666666",
            enableZoom: !0,
            showTooltip: !0,
            values: gdpDataCountriesAvg,
            scaleColors: ["#E6F2F0", "#149B7E"],
            normalizeFunction: "polynomial",
            onLabelShow: function (e, el, code) {
                var amount = gdpDataCountriesAvg[code] !== undefined ? gdpDataCountriesAvg[code] : 0;

                el.html(el.html() + ' (Average donations - ' + amount + ' $)');
            }
        })


        var days = [];
        var data = [];
        responseJson='@ViewBag.perday';
        responseJson = JSON.parse(responseJson.replace(/&quot;/g, '"').toLowerCase());
        $.each(responseJson, function (key, value) {
            days.push(key);
            data.push(value);
        });

        var f = document.getElementById("perday");
        new Chart(f, {
            type: "bar",
            data: {
                labels: days,
                datasets: [{
                    label: "Total donations",
                    backgroundColor: "#26B99A",
                    data: data
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: !0
                        }
                    }]
                }
            }
        })

    })


</script>

}