﻿@model List<Domain.Models.person>
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Assign a task</h2>

<div class="x_content">
    <br />
    <form id="demo-form2" method="post" action="/Task/CreatePost" data-parsley-validate class="form-horizontal form-label-left">

        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                Description <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" id="first-name" required="required" name="description" class="form-control col-md-7 col-xs-12">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                Deadline <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" id="deadline" name="deadline" min="today" required="required" class="form-control col-md-7 col-xs-12">
            </div>
           
        </div>
        
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Prirority</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div id="gender" class="btn-group" data-toggle="buttons">
                    <label class="btn btn-success" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                        <input type="radio" name="priority" value="LOW"> &nbsp; Low &nbsp;
                    </label>
                    <label class="btn btn-warning" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                        <input type="radio" name="priority" value="MEDIUM"> &nbsp; Medium &nbsp;
                    </label>
                    <label class="btn btn-danger" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                        <input type="radio" name="priority" value="HIGH"> &nbsp; High &nbsp;
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                Assign to :  <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <select  class="form-control col-md-7 col-xs-12" name="user" id="user" required="required">
                        @foreach (var item in Model)
                        {
                            <option value="@item.id">
                                @item.login
                            </option>
                        }
                </select>
            </div>
        </div>
        <div class="ln_solid"></div>
        <div class="form-group">
            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                <button class="btn btn-primary" type="button">Cancel</button>
                <button class="btn btn-primary" type="reset">Reset</button>
                <button id="submit" type="submit" class="btn btn-success">Submit</button>
            </div>
        </div>

    </form>
</div>


@section Scripts{
        
    
        <!--Script references. -->
        <!--The jQuery library is required and is referenced by default in _Layout.cshtml. -->
        <!--Reference the SignalR library. -->
        <script>
            $('#deadline').daterangepicker({
                locale: {
                    format: "DD/MM/YYYY",
                },
                singleDatePicker: true,
                singleClasses: "picker_2",
                minDate: "@Web.Helpers.DateHelper.Now()"
            }, function (start, end, label) {
                console.log(start.toISOString());
            });

        </script>
        <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
        <!--Reference the autogenerated SignalR hub script. -->
        <script src="~/signalr/hubs"></script>
        <!--SignalR script to update the chat page and send messages.-->
        <script>
        var displayName= '@Web.Helpers.UserHelper.GetUserName((long)Session["idUser"])';
        $(function () {
            $('[type="date"]').prop('min', function () {
                return new Date().toJSON().split('T')[0];
            });
            // Reference the auto-generated proxy for the hub.
            var chat = $.connection.taskHub;
            // Create a function that the hub can call back to display messages.
           
            // Get the user name and store it to prepend to messages.
           

            // Start the connection.
            $.connection.hub.start().done(function () {
                $('#submit').click(function () {
                    chat.server.send(displayName, $('#user').val());                  
                });
            });
        });
        // This optional function html-encodes messages for display in the page.
        function htmlEncode(value) {
            var encodedValue = $('<div />').text(value).html();
            return encodedValue;
        }
        </script>
    
}