﻿@model Domain.Models.Task

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@{ 
    long userid = (long)Session["idUser"];

    string myPic = "";
    string hisPic = "";

    if (userid == Model.TaskAssignerId)
    {
        myPic = Web.Helpers.UserHelper.GetUserPicPath((long)Model.TaskAssignerId);
        hisPic= Web.Helpers.UserHelper.GetUserPicPath((long)Model.TaskExecutorId);
    }
    else
    {
        myPic = Web.Helpers.UserHelper.GetUserPicPath((long)Model.TaskExecutorId);
        hisPic = Web.Helpers.UserHelper.GetUserPicPath((long)Model.TaskAssignerId);
    }

}

<div class="col-md-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Task Details<small></small></h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>

            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div style="font-size:1.5em;">Description : </div>
            <div style="margin-bottom:1em;font-size:1em;" class="task-description">
            @Model.Description </div>
            <div><span class="fa fa-calendar"></span> Created on : @Model.StartingDate.Day/@Model.StartingDate.Month/@Model.StartingDate.Year</div>
            <div><span class="fa fa-calendar"></span> Deadline : @Model.DeadLine.Day/@Model.DeadLine.Month/@Model.DeadLine.Year</div>
        </div>
    </div>
</div>

            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Comments<small></small></h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>

                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <ul class="list-unstyled msg_list">
                            @if (Model.TaskComments.Count == 0)
                            {
                                <li class="nocomments"> <h3>No comments yet ..</h3> </li>
                            }
                            @foreach (var item in Model.TaskComments)
                            {
                                <li>
                                    <a>
                                        <span class="image">
                                            <img style="width:40px;height:40px" src=" @Web.Helpers.UserHelper.GetUserPicPath((long)item.PublisherId)" alt="img" />
                                        </span>
                                        <span>
                                            <span>@Web.Helpers.UserHelper.GetUserName((long)item.PublisherId)</span>
                                            <span class="time" style="margin-right:1em;">
                                                @Web.Helpers.DateHelper.HumanReadableDate(item.PublishDate)
                                                @if (item.PublisherId == (long)Session["idUser"])
                                                {
                                                    <span class="fa fa-close" id="@item.Id"></span>
                                                }
                                               
                                            </span>
                                            
                                        </span>
                                        <span class="message">
                                            @item.Content
                                        </span>
                                    </a>
                                   
                                </li>
                            }
                            
                            <li id="contentli">


                                <textarea id="content" placeholder="Leave a comment.." type="text" class="form-control" style="width:100%;"></textarea>

                            </li>
                            <li style="margin-top:0;padding-top:0;">
                                <button id="send" class="btn btn-primary btn-block">Send</button>
                            </li>


                        </ul>


                    </div>
                </div>
            </div>
            
<div id="modal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel2">Confirmation</h4>
            </div>
            <div class="modal-body">
                <h4>Delete comment ? </h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <a href="" id="deleteLink" class="btn btn-primary">Delete</a>
            </div>

        </div>
    </div>
</div>

@section Scripts{
         
        <script>
            $(".fa-close").click(function () {                
                confirmDelete($(this).attr("id"));
            });
            function confirmDelete(commentId) {
                $("#deleteLink").attr("href", "/Task/DeleteComment/" + commentId);
                $("#modal").modal("show");
            }
            function saveComment() {
                var content = $("#content").val();
                var taskid = '@Model.TaskId' ;
                $.ajax("/Task/AddComment", {
                    method: "POST",
                    data: {
                        "content": content,
                        "taskid": taskid
                    },
                    success: function () {

                        $("#content").val("");
                        $("#nocomment").hide();
                        addToList(content);
                        
                    }
                });
            }
           /* $("#send").click(function () {
                saveComment();
            });*/
            var test;
            function addToList(content) {
                var username = '@Web.Helpers.UserHelper.GetUserName((long)Session["idUser"])';
                var li = $("<li>");
                var a = $("<a>");
                var image = $("<span>", { class: "image" });
                
                var img = $("<img>", { src: "@myPic",style:"width:40px;height:40px;" } );
                var publisherAndTime = $("<span>");
                var publisher = $("<span>");
                var time = $("<span>", { class: "time", style: "margin-right:1em" });
                var message = $("<span>", { class: "message" });

                message.html(content);
                publisher.html(username);
                time.html("Just now");
                publisherAndTime.append(publisher);
                publisherAndTime.append(time);
                image.append(img);
                a.append(image);
                a.append(publisherAndTime);
                a.append(message);
                li.append(a);
                console.log(li);
                //$(".msg_list").append(li);
                li.insertBefore($("#contentli"));
                test = li;
                $(".nocomments").remove();
            }
            var userId = '@Session["idUser"]';
            var pubId;
        


        
        </script>
        
        <script>
            var userIdd = '@Session["idUser"]';
            var usernamee = '@Web.Helpers.UserHelper.GetUserName((long)Session["idUser"])';
            var taskidd = '@Model.TaskId';
                 $(function () {
                     // Reference the auto-generated proxy for the hub.
                     var chat2 = $.connection.taskCommentHub;
                     // Create a function that the hub can call back to display messages.
                     chat2.client.addNewMessageToPage = function (taskid, message, userId, username) {
                         if (taskidd != taskid) {
                             return;
                         }
                         if (userId == userIdd) {
                             return;
                         }
                         // Add the message to the page.
                         console.log("Recieved message from " + username);
                         var li = $("<li>");
                         var a = $("<a>");
                         var image = $("<span>", { class: "image" });
                         var img = $("<img>", { src: "@hisPic", style: "width:40px;height:40px;" });
                         var publisherAndTime = $("<span>");
                         var publisher = $("<span>");
                         var time = $("<span>", { class: "time", style: "margin-right:1em" });
                         var messagee = $("<span>", { class: "message" });

                         messagee.html(message);
                         publisher.html(username);
                         time.html("Just now");
                         publisherAndTime.append(publisher);
                         publisherAndTime.append(time);
                         image.append(img);
                         a.append(image);
                         a.append(publisherAndTime);
                         a.append(messagee);
                         li.append(a);
                         console.log(li);
                         //$(".msg_list").append(li);
                         li.insertBefore($("#contentli"));
                         test = li;
                     };
                     // Get the user name and store it to prepend to messages.
                     
                     // Set initial focus to message input box.
                     
                     // Start the connection.
                     $.connection.hub.start().done(function () {
                         console.log("Hub ready");
                         test = chat2;
                         $('#send').click(function () {    
                             if ($("#content").val() == "")
                                 return;
                             console.log("Sending");
                             chat2.server.comment(taskidd, $("#content").val(), userIdd, usernamee);
                             saveComment();
                         });
                     });
                 });
                 // This optional function html-encodes messages for display in the page.
                 function htmlEncode(value) {
                     var encodedValue = $('<div />').text(value).html();
                     return encodedValue;
                 }
        </script>
   
       

    }