﻿@model Service.TaskLists

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    string userRole = (string) Session["userRole"];
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Tasks</title>
    <style>
        
        .panel {
            background-color: #e2e4e6;
        }
        .panel-footer{
            background-color:white;
        }
        .task{
            margin-left: 0.5em;
            margin-right:0.5em;
            padding: 0.5em;
            background-color: white;
            position:relative;
        }
        .importance{
            width: 20%;
            height: 0.5em;
            border-radius: 5px;
            margin-bottom : 0.5em;
        }
        .importance:hover{
            opacity:0.8;
        }
        .high {
            background-color: #EB5A46;
        }
        .low {
            background-color: #519839;
        }
        .medium {
            background-color: #FFAB4A;
        }
        .task-details{
            display:flex;
            justify-content: space-between;
            align-items:center;
        }
        .task:hover{
            opacity: 0.8;
        }
        .task:hover .seemore{
            visibility:visible;
        }
        .seemore{
            position:absolute;
            top:0;
            right:0;
            padding: 0.3em;
            visibility:hidden;
        }
        #outer-dropzone {
            height: 140px;
        }

        #inner-dropzone {
            height: 80px;
        }

        .dropzone {
            
            border: dashed 4px transparent;
            border-radius: 4px;
            
            transition: background-color 0.3s;
        }

        .drop-active {
            border-color: #aaa;
        }

        .drop-target {
           
            border-color: #fff;
            border-style: solid;
        }

        .drag-drop {
            display: inline-block;
            
            border: solid 2px #fff;
            -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
            transition: background-color 0.3s;
        }

        /* Shared */
        .loginBtn {
            box-sizing: border-box;
            position: relative;
            /* width: 13em;  - apply for fixed size */
            margin: 0.2em;
            padding: 0 15px 0 46px;
            border: none;
            text-align: left;
            line-height: 34px;
            white-space: nowrap;
            border-radius: 0.2em;
            font-size: 16px;
            color: #FFF;
        }

            .loginBtn:before {
                content: "";
                box-sizing: border-box;
                position: absolute;
                top: 0;
                left: 0;
                width: 34px;
                height: 100%;
            }

            .loginBtn:focus {
                outline: none;
            }

            .loginBtn:active {
                box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
            }


        /* Facebook */
        .loginBtn--facebook {
            background-color: #4C69BA;
            background-image: linear-gradient(#4C69BA, #3B55A0);
            /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
            text-shadow: 0 -1px 0 #354C8C;
        }

            .loginBtn--facebook:before {
                border-right: #364e92 1px solid;
                background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
            }

            .loginBtn--facebook:hover,
            .loginBtn--facebook:focus {
                background-color: #5B7BD5;
                background-image: linear-gradient(#5B7BD5, #4864B1);
            }


        /* Google */
        .loginBtn--google {
            /*font-family: "Roboto", Roboto, arial, sans-serif;*/
            background: #DD4B39;
        }

            .loginBtn--google:before {
                border-right: #BB3F30 1px solid;
                background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
            }

            .loginBtn--google:hover,
            .loginBtn--google:focus {
                background: #E74B37;
            }
        
    </style>
</head>
<body>
    <p>
        @if (ViewBag.title.Contains("Assigned")) { 
            <span class='fa fa-plus'></span>@Html.ActionLink(" Assign a task", "Create")
        }
    </p>
    
    
    <div class="row">
        <div class="col-md-6">
            <h1>@ViewBag.title </h1>
        </div>
        
        <div class="pull-right col-md-6">

            <button id="authorize-button" class="loginBtn loginBtn--google" style="display: none;margin-bottom:1em"> Synchronize tasks with Google Calendar</button>
            <button id="signout-button" class="loginBtn loginBtn--google" style="display: none;margin-bottom:1em"> Turn off automatic synchronization</button>
        </div>
       
    </div>
    
    <div class="row tasks">

        <div class="col-md-3">  
                <div id="pending" class="panel panel-default dropzone">
                    <h2 style="text-align:center">Pending</h2>
                    <div class="panel-body">
                        
                        @foreach (var item in Model.pending)
                        {
                            <div class="task panel draggable drag-drop" id="@item.TaskId">
                               @if (userRole.Equals("CAMP_MANAGER"))
                               {
                                <a data-toggle="modal" onclick="confirmDelete('@item.TaskId')" data-target=".bs-example-modal-sm" class="seemore">x</a>
                               }
                                
                                <div class="importance @item.priority.ToString().ToLower()"></div>
                                <p>@item.Description</p>
                                <div class="task-details">
                                    <div>
                                        <span class="fa fa-comments">@item.TaskComments.Count</span>
                                    </div>
                                    <div>
                                        <span class="fa fa-calendar" style="color:green"></span> 
                                        @item.StartingDate.Day/@item.StartingDate.Month/@item.StartingDate.Year
                                    </div>
                                    <div>
                                        <span class="fa fa-calendar" style="color:red"></span>
                                        @item.DeadLine.Day/@item.DeadLine.Month/@item.DeadLine.Year
                                    </div>
                                </div>
                                <div style="margin-top:3px;">
                                    <span class="fa fa-user pull-left">
                                        @Web.Helpers.UserHelper.GetUserName((long)item.TaskExecutorId)
                                    </span>
                                    <button class="btn btn-primary btn-xs pull-right">
                                        <a href="/Task/Details/@item.TaskId" style="color:white;text-decoration:unset">Details</a>
                                    </button>

                                </div>
                                <div class="clearfix"></div>
                            </div>
                        }
                        

                    </div>
                </div>       
        </div>
        <div class="col-md-3">
            <div id="doing" class="panel panel-default dropzone">
                <h2 style="text-align:center">Doing</h2>
                <div class="panel-body">

                    @foreach (var item in Model.doing)
                    {
                        <div class="task panel draggable drag-drop" id="@item.TaskId">
                            @if (userRole.Equals("CAMP_MANAGER"))
                            {
                                <a data-toggle="modal" onclick="confirmDelete('@item.TaskId')" data-target=".bs-example-modal-sm" class="seemore">x</a>
                            }
                           
                            <div class="importance @item.priority.ToString().ToLower()"></div>
                            <p>@item.Description</p>
                            <div class="task-details">
                                <div>
                                    <span class="fa fa-comments">@item.TaskComments.Count</span>
                                </div>
                                <div>
                                    <span class="fa fa-calendar" style="color:green"></span>
                                    @item.StartingDate.Day/@item.StartingDate.Month/@item.StartingDate.Year
                                </div>
                                <div>
                                    <span class="fa fa-calendar" style="color:red"></span>
                                    @item.DeadLine.Day/@item.DeadLine.Month/@item.DeadLine.Year
                                </div>
                            </div>
                            <div style="margin-top:3px;">
                                <span class="fa fa-user pull-left">
                                    @Web.Helpers.UserHelper.GetUserName((long)item.TaskExecutorId)
                                </span>
                                <button class="btn btn-primary btn-xs pull-right">
                                    <a href="/Task/Details/@item.TaskId" style="color:white;text-decoration:unset">Details</a>
                                </button>

                            </div>
                            <div class="clearfix"></div>
                        </div>
                    }

                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div id="done" class="panel panel-default dropzone">
                <h2 style="text-align:center">Done</h2>
                <div class="panel-body">

                    @foreach (var item in Model.done)
                    {
                        <div class="task panel draggable drag-drop" id="@item.TaskId">
                            @if (userRole.Equals("CAMP_MANAGER"))
                            {
                                <a data-toggle="modal" onclick="confirmDelete('@item.TaskId')" data-target=".bs-example-modal-sm" class="seemore">x</a>
                            }
                            <div class="importance @item.priority.ToString().ToLower()"></div>
                            <p>@item.Description</p>
                            <div class="task-details">
                                <div>
                                    <span class="fa fa-comments">@item.TaskComments.Count</span>
                                </div>
                                <div>
                                    <span class="fa fa-calendar" style="color:green"></span>
                                    @item.StartingDate.Day/@item.StartingDate.Month/@item.StartingDate.Year
                                </div>
                                <div>
                                    <span class="fa fa-calendar" style="color:red"></span>
                                    @item.DeadLine.Day/@item.DeadLine.Month/@item.DeadLine.Year
                                </div>
                            </div>
                            <div style="margin-top:3px;">
                                <span class="fa fa-user pull-left">
                                    @Web.Helpers.UserHelper.GetUserName((long)item.TaskExecutorId)
                                </span>
                                <button class="btn btn-primary btn-xs pull-right">
                                    <a href="/Task/Details/@item.TaskId" style="color:white;text-decoration:unset">Details</a>
                                </button>

                            </div>
                            <div class="clearfix"></div>
                        </div>
                    }

                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div id="declined" class="panel panel-default dropzone">
                <h2 style="text-align:center">Declined</h2>
                <div class="panel-body">

                    @foreach (var item in Model.declined)
                    {
                        <div class="task panel draggable drag-drop" id="@item.TaskId">
                            @if (userRole.Equals("CAMP_MANAGER"))
                            {
                                <a data-toggle="modal" onclick="confirmDelete('@item.TaskId')" data-target=".bs-example-modal-sm" class="seemore">x</a>
                            }
                            <div class="importance @item.priority.ToString().ToLower()"></div>
                            <p>@item.Description</p>
                            <div class="task-details">
                                <div>
                                    <span class="fa fa-comments">@item.TaskComments.Count</span>
                                </div>
                                <div>
                                    <span class="fa fa-calendar" style="color:green"></span>
                                    @item.StartingDate.Day/@item.StartingDate.Month/@item.StartingDate.Year
                                </div>
                                <div>
                                    <span class="fa fa-calendar" style="color:red"></span>
                                    @item.DeadLine.Day/@item.DeadLine.Month/@item.DeadLine.Year
                                </div>
                            </div>
                            <div style="margin-top:3px;">
                                <span class="fa fa-user pull-left">
                                    @Web.Helpers.UserHelper.GetUserName((long)item.TaskExecutorId)
                                </span>
                                <button class="btn btn-primary btn-xs pull-right">
                                    <a href="/Task/Details/@item.TaskId" style="color:white;text-decoration:unset">Details</a>
                                </button>
                                
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    
    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel2">Confirmation</h4>
                </div>
                <div class="modal-body">
                    <h4>Delete task ? </h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <a href="" id="deleteLink" class="btn btn-primary">Delete</a>
                </div>

            </div>
        </div>
    </div>
    
   
    
    
    
</body>
</html>
@section Scripts{
    <script>
        function confirmDelete(taskid) {
            $("#deleteLink").attr("href", "/Task/Delete/" + taskid);
        }
    </script>
    @if (ViewBag.title.Contains("My tasks"))
    {
   

    <script>

        

        var test;
        interact('.draggable')
            .draggable({
                // enable inertial throwing
                inertia: true,
                
                // enable autoScroll
                autoScroll: true,

                // call this function on every dragmove event
                onmove: dragMoveListener,
                // call this function on every dragend event
                onend: function (event) {
                   
                }
            });

        function dragMoveListener(event) {
            var target = event.target,
                // keep the dragged position in the data-x/data-y attributes
                x = (parseFloat(target.getAttribute('data-x')) || 0) + event.dx,
                y = (parseFloat(target.getAttribute('data-y')) || 0) + event.dy;

            // translate the element
            target.style.webkitTransform =
                target.style.transform =
                'translate(' + x + 'px, ' + y + 'px)';

            // update the posiion attributes
            target.setAttribute('data-x', x);
            target.setAttribute('data-y', y);
        }

        // this is used later in the resizing and gesture demos
        window.dragMoveListener = dragMoveListener;

        interact('.dropzone').dropzone({
            
            // Require a 75% element overlap for a drop to be possible
            overlap: 0.75,

            // listen for drop related events:

            ondropactivate: function (event) {
                // add active dropzone feedback
                event.target.classList.add('drop-active');
            },
            ondragenter: function (event) {
                var draggableElement = event.relatedTarget,
                    dropzoneElement = event.target;

                // feedback the possibility of a drop
                dropzoneElement.classList.add('drop-target');
                draggableElement.classList.add('can-drop');
               
            },
            ondragleave: function (event) {
                // remove the drop feedback style
                event.target.classList.remove('drop-target');
                event.relatedTarget.classList.remove('can-drop');
                
            },
            ondrop: function (event) {
                test = event;
                event.target.children[1].append(event.relatedTarget);
                event.relatedTarget.style = "";
                var taskid = event.relatedTarget.id;
                var dropzone = event.target.id;
                //alert("Moving task " + taskid + " to " + dropzone)
                updateTask(taskid, dropzone);
            },
            ondropdeactivate: function (event) {
                // remove active dropzone feedback
                event.target.classList.remove('drop-active');
                event.target.classList.remove('drop-target');
            }
        });

        function updateTask(taskid, status) {
            $.ajax("Task/ChangeStatus?taskid=" + taskid + "&status=" + status);
        }
        var toDelete;
        
        
    </script>    

        <script>
            var jsonString = "@ViewBag.tasks";
            jsonString = jsonString.replace(/&quot;/g, '"');
            var taskList = JSON.parse(jsonString);
            console.log(taskList);
        </script>

        <script type="text/javascript">
            var synced = 0;
            // Client ID and API key from the Developer Console
            var CLIENT_ID = '214056198277-2g83jncsu30rm97208s6cn3t9j6d1a51.apps.googleusercontent.com';
            var API_KEY = 'AIzaSyCIuZsKAz7D0I6_5WA13G7bBpYUx2sOcwc';

            // Array of API discovery doc URLs for APIs used by the quickstart
            var DISCOVERY_DOCS = ["https://www.googleapis.com/discovery/v1/apis/calendar/v3/rest"];

            // Authorization scopes required by the API; multiple scopes can be
            // included, separated by spaces.
            var SCOPES = "https://www.googleapis.com/auth/calendar";

            var authorizeButton = document.getElementById('authorize-button');
            var signoutButton = document.getElementById('signout-button');

            /**
             *  On load, called to load the auth2 library and API client library.
             */
            function handleClientLoad() {
                gapi.load('client:auth2', initClient);
            }

            /**
             *  Initializes the API client library and sets up sign-in state
             *  listeners.
             */
            function initClient() {
                gapi.client.init({
                    apiKey: API_KEY,
                    clientId: CLIENT_ID,
                    discoveryDocs: DISCOVERY_DOCS,
                    scope: SCOPES
                }).then(function () {
                    // Listen for sign-in state changes.
                    gapi.auth2.getAuthInstance().isSignedIn.listen(updateSigninStatus);

                    // Handle the initial sign-in state.
                    updateSigninStatus(gapi.auth2.getAuthInstance().isSignedIn.get());
                    authorizeButton.onclick = handleAuthClick;
                    signoutButton.onclick = handleSignoutClick;
                });
            }

            /**
             *  Called when the signed in status changes, to update the UI
             *  appropriately. After a sign-in, the API is called.
             */
            function updateSigninStatus(isSignedIn) {
                if (isSignedIn) {
                    authorizeButton.style.display = 'none';
                    signoutButton.style.display = 'block';
                    listUpcomingEvents();
                } else {
                    authorizeButton.style.display = 'block';
                    signoutButton.style.display = 'none';
                }
            }

            /**
             *  Sign in the user upon button click.
             */
            function handleAuthClick(event) {
                gapi.auth2.getAuthInstance().signIn();
            }

            /**
             *  Sign out the user upon button click.
             */
            function handleSignoutClick(event) {
                gapi.auth2.getAuthInstance().signOut();
            }

            /**
             * Append a pre element to the body containing the given message
             * as its text node. Used to display the results of the API call.
             */
            function appendPre(message) {
                var pre = document.getElementById('content');
                var textContent = document.createTextNode(message + '\n');
                pre.appendChild(textContent);
            }

            /**
             * Print the summary and start datetime/date of the next ten events in
             * the authorized user's calendar. If no events are found an
             * appropriate message is printed.
             */
            var events = [];
            for (var i = 0; i < taskList.length; i++) {
                let task = taskList[i];
                console.log(task);
                var event = {
                    'summary': task["TaskId"],
                    'description': task["Description"],
                    'start': {
                        'dateTime': task["StartDate"],
                        'timeZone': 'America/Los_Angeles'
                    },
                    'end': {
                        'dateTime': task["DeadLine"],
                        'timeZone': 'America/Los_Angeles'
                    },
                    'attendees': [
                        { 'email': 'manager@uh.com' }
                    ],
                    'reminders': {
                        'useDefault': false,
                        'overrides': [
                            { 'method': 'email', 'minutes': 24 * 60 },
                            { 'method': 'popup', 'minutes': 10 }
                        ]
                    }
                };
                events.push(event);
            }

            console.log(events);

            function listUpcomingEvents() {
                var existing = "";

                gapi.client.calendar.events.list({
                    'calendarId': 'primary',
                    'timeMin': (new Date()).toISOString(),
                    'showDeleted': false,
                    'singleEvents': true,
                    'maxResults': 10,
                    'orderBy': 'startTime'
                }).then(function (response) {
                    var eventss = response.result.items;
                    

                    if (eventss.length > 0) {
                        for (i = 0; i < eventss.length; i++) {
                            var event = eventss[i];
                            var when = event.start.dateTime;
                            if (!when) {
                                when = event.start.date;
                            }
                            existing += event.summary+" ";
                        }
                       
                    } else {
                        
                    }
                    var done = 0;
                    for (i = 0; i < events.length; i++) {

                        let event = events[i];
                        if (existing.indexOf(event.summary) != -1) {
                            console.log("Already synced");
                            done++;
                            continue;
                        }
                        console.log("Adding event " + event);
                        var request = gapi.client.calendar.events.insert({
                            'calendarId': 'primary',
                            'resource': event
                        });

                        request.execute(function (event) {
                            done++;
                            if (done == events.length) {
                                new PNotify({
                                    title: 'Synchronization complete',
                                    text:'Your tasks were successfuly synced',
                                    text_escape: false,
                                    type:"success",
                                    styling: 'bootstrap3'
                                });
                            }
                            if (event.htmlLink !== undefined) {
                                synced++;
                                
                                
                            }
                            
                        });
                    }
                    
                });
                
               /* 
               */

            }

        </script>

        <script async defer src="https://apis.google.com/js/api.js"
                onload="this.onload=function(){};handleClientLoad()"
                onreadystatechange="if (this.readyState === 'complete') this.onload()">
        </script>



    }
    }