﻿@model Service.TaskStat
@{
    ViewBag.Title = "Stats";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    .count2 li span{
        font-size:7px;
    }
</style>




<!-- pie chart -->
<div class="col-md-6 col-sm-6 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Camp Tasks overview <small>Per status</small></h2>

            <div class="clearfix"></div>
        </div>
        <div class="x_content2">
            <div id="tasks_donut" style="width:100%; height:300px;"></div>
        </div>
    </div>
</div>
<div class="col-md-6 col-sm-6 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Camp Tasks overview <small>Completion</small></h2>

            <div class="clearfix"></div>
        </div>
        <div class="x_content2">
            <div id="tasks_time" style="width:100%; height:300px;"></div>
        </div>
    </div>
</div>


<div class="col-md-12" style="margin-bottom:4em;">
    <div class="x_panel">
        <div class="x_title">
            <h2><span class="fa fa-star"></span> Wall of fame  <small>Most active staff members</small></h2>

            <div class="clearfix"></div>
        </div>
        <div class="x_content col-md-6 col-md-offset-3">
            @foreach (var item in Model.topthree)
            {
               
            <div class="col-md-3 col-xs-12 widget widget_tally_box">
                <div class="x_panel fixed_height_390">
                    <div class="x_content">
                        @{
                            int ranking = @Model.topthree.IndexOf(item) + 1;
                        }
                        <div class="flex">
                            <ul class="list-inline widget_profile_box">
                                <li style="visibility:hidden">
                                    <a>
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <img src="@Web.Helpers.UserHelper.GetUserPicPath(item.Id)" alt="..." class="img-circle profile_img">
                                </li>
                                <li style="visibility:hidden">
                                    <a>
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <h3 class="name">@Web.Helpers.UserHelper.GetUserName(@item.Id)</h3>

                        <div class="flex">
                            <ul class="list-inline count2">
                                <li >
                                    <h3>@item.completedtasks</h3>
                                    <span>Tasks</span>
                                </li>
                                <li>
                                    <h3>@item.onTime</h3>
                                    <span>On time</span>
                                </li>
                                <li >
                                    <h3>@item.afterDeadline</h3>
                                    <span>After Deadline</span>
                                </li>
                            </ul>
                        </div>
                        <p>
                            Number @ranking
                        </p>
                    </div>
                </div>
            </div>
            }
    </div>
</div>
    </div>
            @section Scripts {

                <script src="~/Content/Admin/vendors/raphael/raphael.min.js"></script>



                <script src="~/Content/Admin/vendors/morris.js/morris.min.js"></script>
                <script src="~/Content/Admin/vendors/jquery-sparkline/dist/jquery.sparkline.min.js"></script>
                <script>
        var test;

            if ($('#tasks_donut').length) {

                Morris.Donut({
                    element: 'tasks_donut',
                    data: [
                        { label: 'Doing', value: @Model.doing },
                        { label: 'Pending', value: @Model.pending },
                        { label: 'Done', value: @Model.done },
                        { label: 'Declined', value: @Model.declined }
                    ],
                    colors: ['#26B99A', '#34495E', '#ACADAC', '#3498DB'],
                    formatter: function (y) {
                        var total = @Model.total;
                        var percentage = y / total * 100;
                        percentage = Math.round(percentage);
                        return y + " tasks (" + percentage+"%)";
                    },
                    resize: true
                });

            }

            if ($('#tasks_time').length) {

                Morris.Donut({
                    element: 'tasks_time',
                    data: [
                        { label: 'On time', value: @Model.ontime },
                        { label: 'After deadline', value: @Model.afterdeadline }
                    ],
                    colors: ['#26B99A', '#34495E'],
                    formatter: function (y) {
                        var total = @Model.done;
                        var percentage = y / total * 100;
                        percentage = Math.round(percentage);
                        return y + " tasks (" + percentage+"%)";
                    },
                    resize: true
                });

            }

                </script>
            }
