﻿@model IEnumerable<Domain.Models.suggestion>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


    <div class="x_panel">
        <div class="x_title">
            <h2>Suggestions </h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="#">Settings 1</a>
                        </li>
                        <li>
                            <a href="#">Settings 2</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <ul class="list-unstyled timeline">
                @foreach (var item in Model)
                {

                <li>
                    <div class="block">
                        <div class="tags">
                            <a href="" class="tag">
                                <span>@item.camp.country</span>
                            </a>
                        </div>
                        <div class="block_content">
                            <h2 class="title">
                                <a>@item.title</a>
                            </h2>
                            <div class="byline">
                               <a>@item.camp.address</a>
                            </div>
                            <p class="excerpt">
                                 @item.description
                            </p>
                        </div>
                    </div>
                </li>
                }


            </ul>

        </div>
    </div>
