﻿
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<style>
    .app{
    width: 100%;
    position: relative;
}

.app #start-camera{
    display: none;
    border-radius: 3px;
    max-width: 400px;
    color: #fff;
    background-color: #448AFF;
    text-decoration: none;
    padding: 15px;
    opacity: 0.8;
    margin: 50px auto;
    text-align: center;
}

.app video#camera-stream{
    display: none;
    width: 100%;
}

.app img#snap{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    display: none;
}

.app #error-message{
    width: 100%;
    background-color: #ccc;
    color: #9b9b9b;
    font-size: 28px;
    padding: 200px 100px;
    text-align: center;
    display: none;
}

        .app .controlss {
            padding-top: 2%;
            background-color: #555;
            top: 0%;
            width: 100%;
            margin: 0%;
            display: flex;
            justify-content: space-around;
            position: absolute;
        }
                .app .controlss a.disabled {
                    
                    opacity: 0.5;
                    cursor: default;
                    pointer-events: none;
                }
                    .app .controlss a.disabled:hover {
                        opacity: 0.5;
                    }

                .app .controlss a i {
                    font-size: 18px;
                }

            .app .controlss #take-photo i {
                font-size: 32px;
            }

.app canvas{
    display: none;
}



.app video#camera-stream.visible,
.app img#snap.visible,
.app #error-message.visible
{
    display: block;
}

        .app .controlss.visible {
            display: flex;
        }
</style>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
           
            <div class="x_content">
           
                <div class="col-md-12 col-sm-12 col-xs-12">

                    
                   
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>Add Refugee</h2>
                                
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <div id="wizard" class="form_wizard wizard_horizontal">
                                        <ul class="wizard_steps">
                                            <li>
                                                <a href="#step-1">
                                                    <span class="step_no">1</span>
                                                    <span class="step_descr">
                                                        Step 1<br />
                                                        <small>Personel Information</small>
                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#step-2">
                                                    <span class="step_no">2</span>
                                                    <span class="step_descr">
                                                        Step 2<br />
                                                        <small>Take Picture</small>
                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#step-3">
                                                    <span class="step_no">3</span>
                                                    <span class="step_descr">
                                                        Step 3<br />
                                                        <small>Marital Status </small>
                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#step-4">
                                                    <span class="step_no">4</span>
                                                    <span class="step_descr">
                                                        Step 4<br />
                                                        <small>Generate Room</small>
                                                    </span>
                                                </a>
                                            </li>
                                        </ul>
                                        <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left" >

                                            <div id="step-1">
                                                <div class="form-group">
                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                                        First Name <span class="required">*</span>
                                                    </label>
                                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                                        <input type="text" id="first-name" name="name" required="required" class="form-control col-md-7 col-xs-12">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                                        Last Name <span class="required">*</span>
                                                    </label>
                                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                                        <input type="text" id="last-name" name="lastname" required="required" class="form-control col-md-7 col-xs-12">
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Gender</label>
                                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                                        <div id="gender" class="btn-group" data-toggle="buttons">
                                                            <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                                                <input type="radio" name="gender" value="male" id="male"> &nbsp; Male &nbsp;
                                                            </label>
                                                            <label class="btn btn-primary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                                                <input type="radio" name="gender" value="female" id="female"> Female
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                                        Date Of Birth <span class="required">*</span>
                                                    </label>
                                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                                        <fieldset>
                                                            <div class="control-group">
                                                                <div class="controls">
                                                                    <div class="col-md-11 xdisplay_inputx form-group has-feedback">
                                                                        <input type="text" class="form-control has-feedback-left" id="single_cal3" aria-describedby="inputSuccess2Status3">
                                                                        <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                                                                        <span id="inputSuccess2Status3" class="sr-only">(success)</span>
                                                                        <input type="hidden" id="birthDate" name="birthDate" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </fieldset>
                                                    </div>

                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="country">
                                                        Country <span class="required">*</span>
                                                    </label>
                                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                                        <input type="text" id="country" required="required" name="country" class="form-control col-md-7 col-xs-12">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="identityType">
                                                        Identity Type <span class="required">*</span>
                                                    </label>
                                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                                        <select type="text" id="identityType" name="identityType" required" class="form-control col-md-7 col-xs-12">
                                                            <option value="0">Passport</option>
                                                            <option value="1">Identity Card</option>
                                                            <option value="2">Drive License</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="identityNumber">
                                                        Identity Number <span class="required">*</span>
                                                    </label>
                                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                                        <input type="text" id="identityNumber" name="identityNumber" required="required" class="form-control col-md-7 col-xs-12">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="profession">
                                                        Profession <span class="required">*</span>
                                                    </label>
                                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                                        <input type="text" id="profession" name="profession" required="required" class="form-control col-md-7 col-xs-12">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="specialNeeds">
                                                        Special Needs
                                                    </label>
                                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                                        <textarea id="specialNeeds" name="specialNeeds" class="form-control col-md-7 col-xs-12" data-parsley-trigger="keyup" data-parsley-minlength="20" data-parsley-maxlength="100" data-parsley-minlength-message="Come on! You need to enter at least a 20 caracters long comment.." data-parsley-validation-threshold="10"></textarea>
                                                    </div>
                                                </div>


                                                <div class="form-group">
                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="skills">
                                                        skills
                                                    </label>
                                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                                        <textarea id="skills" name="skills" class="form-control col-md-7 col-xs-12" data-parsley-trigger="keyup" data-parsley-minlength="20" data-parsley-maxlength="100" data-parsley-minlength-message="Come on! You need to enter at least a 20 caracters long comment.." data-parsley-validation-threshold="10"></textarea>
                                                    </div>
                                                </div>


                                            </div>
                                            <div id="step-2">
                                                <div class="container">

                                                    <div class="app">

                                                        <a href="#" id="start-camera" class="visible">Touch here to start the app.</a>
                                                        <video id="camera-stream"></video>
                                                        <img id="snap">

                                                        <p id="error-message"></p>

                                                        <div class="controlss">
                                                            <a href="#" id="delete-photo" title="Delete Photo" class="disabled"><i class="material-icons">delete</i></a>
                                                            <a href="#" id="take-photo" title="Take Photo"><i class="material-icons">camera_alt</i></a>
                                                            <a href="#" id="download-photo" download="selfie.png" title="Save Photo" class="disabled"><i class="material-icons">file_download</i></a>
                                                        </div>

                                                        <!-- Hidden canvas element. Used for taking snapshot of video. -->
                                                        <canvas></canvas>

                                                    </div>
                                                        <button type="button" id="stop">StopStream</button>
                                                </div>
                                            </div>
                                            <div id="step-3">
                                                <div class="form-group">
                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="maritalStatus">
                                                        Marital Status <span class="required">*</span>
                                                    </label>
                                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                                        <p>
                                                            <div class="tohide">  Single: <input type="radio" class="flat" name="maritalStatus" value="Single" id="single" checked="" required /></div>
                                                            Married: <input type="radio" class="married flat" name="maritalStatus" id="married" value="Married" />
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="form-group children" style="display: none">
                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Children">
                                                        Do You Have Children ?
                                                    </label>
                                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                                        <p>
                                                            <div class="hideit"> NO: <input type="radio" class="flat" checked="" name="children" id="no" /></div>
                                                            Yes: <input type="radio" class="flat yeschild" name="children" id="yes"/>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="form-group huswif" style="display: none">
                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="huswif">
                                                        Do You Have Husbund/Wife ?
                                                    </label>
                                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                                        <p>
                                                            <div class="tohidehw"> NO: <input type="radio" class="flat" checked="" name="huswif" id="nohuswif" /></div>
                                                            Yes: <input type="radio" class="flat yeshuswif" name="huswif" id="yeshuswif" />
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="form-group childrennumber" style="display: none">
                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Children">
                                                       How Many Children Do You Have  ?
                                                    </label>
                                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                                        <p>
                                                            <div class="input-group">
                                                                <input type="number" id="nbchild" required="required" class="form-control" />

                                                                <span class="input-group-btn">
                                                                    <button type="button" class="btn btn-primary" id="go">Go!</button>
                                                                </span>
                                                            </div>
                                                        </p>
                                                    </div>
                                                    <div class="col-md-6 col-sm-6 col-xs-12 toappend">
                                                       
                                                    </div>
                                                    
                                                </div>
                                                <div class="col-md-12 col-sm-12 col-xs-12 hw">
                                                    <h3> Husband-Wife Informations</h3>
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                                            First Name <span class="required">*</span>
                                                        </label>
                                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                                            <input type="text" id="wname" required="required" class="form-control col-md-7 col-xs-12"> 
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                                            Last Name <span class="required">*</span>
                                                        </label>
                                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                                            <input type="text" id="wlastname" required="required" class="form-control">
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Gender</label>
                                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                                            <div class="btn-group" data-toggle="buttons">
                                                                <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                                                    <input type="radio" name="wgender" value="male" id="wmale" checked> &nbsp; Male &nbsp;
                                                                </label>
                                                                <label class="btn btn-primary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                                                    <input type="radio" name="wgender" id="wfemale" value="female">  Female
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                                            Date Of Birth <span class="required">*</span>
                                                        </label>
                                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                                            <fieldset>
                                                                <div class="control-group">
                                                                    <div class="controls">
                                                                        <div class="col-md-11 xdisplay_inputx form-group has-feedback">
                                                                            <input type="text" class="form-control has-feedback-left" id="single_cal4" aria-describedby="inputSuccess2Status3">
                                                                            <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                                                                            <span id="inputSuccess2Status3" class="sr-only">(success)</span>
                                                                            <input type="hidden" id="wbirthDate">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </fieldset>
                                                        </div>

                                                    </div>
                                                   
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="identityType">
                                                            Identity Type <span class="required">*</span>
                                                        </label>
                                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                                            <select type="text" id="widentityType" name="identityType" required" class="form-control col-md-7 col-xs-12">
                                                                <option value="0">Passport</option>
                                                                <option value="1">Identity Card</option>
                                                                <option value="2">Drive License</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="identityNumber">
                                                            Identity Number <span class="required">*</span>
                                                        </label>
                                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                                            <input type="text" id="widentity" required="required" class="form-control">
                                                        </div>
                                                    </div>




                                                    <div class="form-group">
                                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="profession">
                                                            Profession <span class="required">*</span>
                                                        </label>
                                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                                            <input type="text" id="wprofession" name="profession" required="required" class="form-control col-md-7 col-xs-12">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="specialNeeds">
                                                            Special Needs
                                                        </label>
                                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                                            <textarea  id="wSpecialNeeds" class="form-control col-md-7 col-xs-12" data-parsley-trigger="keyup" data-parsley-minlength="20" data-parsley-maxlength="100" data-parsley-minlength-message="Come on! You need to enter at least a 20 caracters long comment.." data-parsley-validation-threshold="10"></textarea>
                                                        </div>
                                                    </div>


                                                    <div class="form-group">
                                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="skills">
                                                            skills
                                                        </label>
                                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                                            <textarea id="wskills" name="skills" class="form-control col-md-7 col-xs-12" data-parsley-trigger="keyup" data-parsley-minlength="20" data-parsley-maxlength="100" data-parsley-minlength-message="Come on! You need to enter at least a 20 caracters long comment.." data-parsley-validation-threshold="10"></textarea>
                                                        </div>
                                                    </div>

                                                    <button type="button" class="btn btn-primary savehw" id="savehw">Save</button>



                                                </div>
                                            </div>
                                            <div id="step-4">
                                                <h2 class="StepTitle">Choose The Room</h2>
                                                <button type="button" class="roomgenbtn">Generate Rooms</button>
                                                <div class="form-group">
                                                    
                                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                                        <select type="text" id="roomgen" style="display:none" required" class="form-control col-md-7 col-xs-12">
                                                            <option>Choose</option>
                                                        </select>
                                                    </div>
                                                    <input type="button" class="buttonFinish btn btn-default" value="Finish" id="dakkal" />
                                                </div>                                             
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
<script src="https://momentjs.com/downloads/moment.js"></script>
<script>
    var jsonArr = [];
    var familynbr = null;
    var $nn = "";
    $(document).ready(function () {
        $('#take-photo').on('click', function(){
            $nameimg = $('#identityNumber').val();
            $nn = $nameimg + ".png"
            $('#download-photo').attr("download", $nn)
        })
       ;
        $('.hw').css("display", "none")
        $('.stepContainer').css("display", "none")
        $('.buttonFinish').css("display", "none")
        $('#step-4').append('')
        $('#dakkal').css("display", "none");

        $('.married').on('ifChecked', function (event) {
            $('.children').css("display", "block")
            $('.huswif').css("display", "block")
        });


        $('#single_cal3').on('change', function (event) {
            var date = $('#single_cal3').val();
            console.log()
            var dateForm = moment(date, 'MM/DD/YYYY').format('YYYYMMDD')
            $('#birthDate').val(dateForm)

            console.log($('#birthDate').val())

        });
        $('#single_cal4').on('change', function (event) {
            var date = $('#single_cal4').val();
            console.log(date)

            var dateForm = moment(date, 'MM/DD/YYYY').format('YYYYMMDD')
            $('#wbirthDate').val(dateForm)

            console.log(dateForm)

        });
        $('.yeschild').on('ifChecked', function (event) {
            $('.childrennumber').css("display", "block")
        });
        $('.yeshuswif').on('ifChecked', function (event) {
            $('.hw').css("display", "block")

        });
        $('#go').on('click', function (e) {
            $('.tohide').hide();
            var formnumber = $('#nbchild').val();

            e.preventDefault();

            $('.toappend').append('<h3> Children Informations  </h3><p>First Name *<input type="text" id="cname" required="required" class="form-control"> Last Name *<input type="text" id="clastname" required="required" class="form-control"> Gender : <input type="radio" name="cgender" value="male" id="cmale" checked> &nbsp; Male &nbsp;<input type="radio" name="cgender"id="cfemale" value="female"> &nbsp; Female &nbsp;<br/>Date Of Birth *<input type="date" id="cbirthday" required="required" class="form-control">Identity Number *<input type="text" id="cidentity" required="required" class="form-control">Special Needs<textarea class="form-control" id="cSpecialNeeds"></textarea><br><button type="button" class="btn btn-primary savechild">Save</button></p>'); //add input box



            $('.savechild').click(function () {
                var datechild = $('#cbirthday').val();
                console.log('this is the date= ' + datechild);
                var dateFormc = moment(datechild, 'YYYY-MM-DD').format('YYYYMMDD')


                if ($('#cmale').is(':checked')) {
                    console.log("is checked male")
                    gender = "male";
                }
                if ($('#cfemale').is(':checked')) {
                    console.log("is checked female")
                    gender = "female";

                }
                name = $('#cname').val();

                country = $('#country').val();

                surname = $('#clastname').val();
                identityNumber = $('#cidentity').val();
                specialNeeds = $('#cSpecialNeeds').val();

                jsonArr.push({
                    birthDate: dateFormc, name: name, country: country, gender: gender, surname: surname, identityNumber: identityNumber, specialNeeds: specialNeeds
                })
                $('#cname').val("");
                $('#cbirthday').val("");
                $('#clastname').val("");
                $('#cidentity').val("");
                $('#cSpecialNeeds').val("");
                formnumber = formnumber - 1;
                if (formnumber == 0) {
                   // $('.toappend').hide();
                    //$('.children').hide();
                    $('.childrennumber').hide();
                    //$('.children').hide();
                    $('.hideit').hide();
                }

            })
        });

        $('.roomgenbtn').click(function () {
            var single = $('#single').is(':checked');
            var married = $('#married').is(':checked');
            var male = $('#male').is(':checked');
            var female = $('#female').is(':checked');
            var countchildren = $('#nbchild').val();
            var yes = $('#yes').is(':checked');
            var no = $('#no').is(':checked');
            var yeshuswif = $('#yeshuswif').is(':checked');
            var nohuswif = $('#nohuswif').is(':checked');
            var Type = null;
            
            if (married && no && yeshuswif) {
                familynbr = 2;
                Type = 'Couple';
            }
            if (married && yes && yeshuswif) {
                familynbr = parseInt(2) + parseInt(countchildren) ;
                Type = 'Families';
            }
           
            if (married && yes && nohuswif) {
                familynbr = parseInt(1) + parseInt(countchildren);
                Type = 'Families';
            }

            if (single && male) {
                familynbr = 1;
                Type = 'Male'
            }
            if (single && female) {
                Type = 'Female';
                familynbr = 1;
            }

            $.ajax({
                type: 'POST',
                url: '@Url.Action("findRoom", "Refugee")',
                    data: {familynbr: familynbr, Type: Type },
                    success: function (data) {
                        var roomjson = JSON.parse(data)
                        for (var i = 0; i < roomjson.length; i++) {
                            var obj = roomjson[i];
                            $('#roomgen').append('<option value="' + obj.roomId + '">' + obj.reference + '</option>')
                        }
                        $('#roomgen').css('display', 'block')
                        $('.roomgenbtn').hide();
                        $('#dakkal').css('display', 'block')
                        }
                    })
            console.log('TYPE = ' + Type + ' familyNumber = ' + familynbr)
            console.log('married = ' + married + ' single = ' + single)
            console.log('female = ' + female + ' male = ' + male)
            console.log('yes = ' + yes + ' no = ' + no)

        });



    });

    $('.savehw').click(function () {
        $('.tohidehw').hide();
        var datechild = $('#wbirthDate').val();
        console.log('this is the date= ' + datechild);
        var dateFormc = moment(datechild, 'YYYY-MM-DD').format('YYYYMMDD')


        if ($('#wmale').is(':checked')) {
            console.log("is checked male")
            genre = "male";
        }
        if ($('#wfemale').is(':checked')) {
            console.log("is checked female")
            genre = "female";

        }
        name = $('#wname').val();
        country = $('#country').val();
        surname = $('#wlastname').val();
        identityNumber = $('#widentity').val();
        specialNeeds = $('#wSpecialNeeds').val();
        identityType = $('#widentityType').val();
        profession = $('#wprofession').val();
        skills = $('#wskills').val();
        maritalStatus= "married",
        jsonArr.push({
            identityType: identityType, profession: profession, skills: skills,  maritalStatus: maritalStatus, birthDate: dateFormc, name: name, country: country, gender: genre, surname: surname, identityNumber: identityNumber, specialNeeds: specialNeeds
        })
        $('.hw').remove();
        console.log(jsonArr)
    })
    $('#dakkal').click(function () {
        console.log($nn);
        $.ajax({
            type: "GET",
            url: "http://127.0.0.1:18080/universalhaven-web/rest/camp/upfile?file="+$nn,
            success: function (data) {
            console.log("upload tof")}
        })







        var userid = '@Session["idUser"]';
        var CampId;
        $.ajax({

            type: "GET",
            url: "http://127.0.0.1:18080/universalhaven-web/rest/camp/getcampid",
            data: { userid: userid},
            success: function (data) {
                console.log("this is how" +data)
                CampId = data
                name = $('#first-name').val();
                surname = $('#last-name').val();
                gender = $('input:radio[name="gender"]').val();
                birthDate = $('#birthDate').val();
                country = $('#country').val();
                identityType = $('#identityType').val();
                identityNumber = $('#identityNumber').val();
                profession = $('#profession').val();
                specialNeeds = $('#specialNeeds').val();
                skills = $('#skills').val();
                maritalStatus = $('input:radio[name="maritalStatus"]').val();
                if ($('#married').is(':checked')) {
                    maritalStatus = "married"
                }
                picture = identityNumber + ".png";
                roomId = $("#roomgen option:selected").val()
                console.log(roomId)
                jsonArr.push({
                    skills: skills,
                    profession: profession,
                    maritalStatus: maritalStatus,
                    identityType: identityType,
                    country: country,
                    birthDate: birthDate,
                    name: name,
                    gender: gender,
                    surname: surname,
                    identityNumber: identityNumber,
                    specialNeeds: specialNeeds,
                    picture: picture,
                    roomId: roomId,
                    CampId: CampId,
                    familynbr : familynbr
                })
                console.log(" this is the camp id final" + CampId)
                  var jsonString = JSON.stringify(jsonArr);
     $.ajax({
         url: '@Url.Action("CreateRefugees", "Refugee")',
            type: "POST",
            data: jsonString,
            contentType: "application/json;charset=utf-8",
            dataType: "json",

            success: function (data) {
                console.log(data)
                console.log("ok")
            },
            statusCode: {
                200: function () {
                    window.location.href = "/Refugee?message=success";
                },
                404: function () {
                    new PNotify({
                        title: 'Oh No!',
                        text: 'Something terrible happened.',
                        type: 'error',
                        styling: 'bootstrap3'
                    });
                },
                401: function () {
                    new PNotify({
                        title: 'Oh No!',
                        text: 'Something terrible happened.',
                        type: 'error',
                        styling: 'bootstrap3'
                    });
                },
                500: function () {
                    new PNotify({
                        title: 'Oh No!',
                        text: 'Something terrible happened.',
                        type: 'error',
                        styling: 'bootstrap3'
                    });
                }
            }
        });
            }
        });




    })

</script>


    <script>

        document.addEventListener('DOMContentLoaded', function () {
            $('#stop').on('click', function (event) {

                navigator.getMedia(
                    {
                        video: true
                    },
                    // Success Callback
                    function (stream) {
                        // Create an object URL for the video stream and
                        // set it as src of our HTLM video element.
                        video.src = "";
                        // Play the video element to start the stream.
                        stream.getTracks()[0].stop()
                    },
                    // Error Callback
                    function (err) {
                        displayErrorMessage("There was an error with accessing the camera stream: " + err.name, err);
                    }
                );
                alert('ok')
                
            })
            // References to all the element we will need.
            var video = document.querySelector('#camera-stream'),
                image = document.querySelector('#snap'),
                start_camera = document.querySelector('#start-camera'),
                controls = document.querySelector('.controls'),
                take_photo_btn = document.querySelector('#take-photo'),
                delete_photo_btn = document.querySelector('#delete-photo'),
                download_photo_btn = document.querySelector('#download-photo'),
                error_message = document.querySelector('#error-message');

            navigator.getMedia = (navigator.getUserMedia ||
                navigator.webkitGetUserMedia ||
                navigator.mozGetUserMedia ||
                navigator.msGetUserMedia);

            
            if (!navigator.getMedia) {
                displayErrorMessage("Your browser doesn't have support for the navigator.getUserMedia interface.");
            }
            else {

                // Request the camera.
                navigator.getMedia(
                    {
                        video: true
                    },
                    // Success Callback
                    function (stream) {

                        // Create an object URL for the video stream and
                        // set it as src of our HTLM video element.
                        video.src = window.URL.createObjectURL(stream);

                        // Play the video element to start the stream.
                        video.play();
                        video.onplay = function () {
                            showVideo();
                        };

                    },
                    // Error Callback
                    function (err) {
                        displayErrorMessage("There was an error with accessing the camera stream: " + err.name, err);
                    }
                );

            }



            // Mobile browsers cannot play video without user input,
            // so here we're using a button to start it manually.
            start_camera.addEventListener("click", function (e) {

                e.preventDefault();

                // Start video playback manually.
                video.play();
                showVideo();

            });


            take_photo_btn.addEventListener("click", function (e) {

                e.preventDefault();

                var snap = takeSnapshot();

                // Show image. 
                image.setAttribute('src', "C:/Users/BlacK SouL/Desktop/" + snap);
                image.classList.add("visible");

                // Enable delete and save buttons
                delete_photo_btn.classList.remove("disabled");
                download_photo_btn.classList.remove("disabled");

                // Set the href attribute of the download button to the snap url.
                download_photo_btn.href = snap;

                // Pause video playback of stream.
                video.pause();

            });


            delete_photo_btn.addEventListener("click", function (e) {

                e.preventDefault();

                // Hide image.
                image.setAttribute('src', "");
                image.classList.remove("visible");

                // Disable delete and save buttons
                delete_photo_btn.classList.add("disabled");
                download_photo_btn.classList.add("disabled");

                // Resume playback of stream.
                video.play();

            });



            function showVideo() {
                // Display the video stream and the controls.

                hideUI();
                video.classList.add("visible");
                controls.classList.add("visible");
            }


            function takeSnapshot() {
                // Here we're using a trick that involves a hidden canvas element.  

                var hidden_canvas = document.querySelector('canvas'),
                    context = hidden_canvas.getContext('2d');

                var width = video.videoWidth,
                    height = video.videoHeight;

                if (width && height) {

                    // Setup a canvas with the same dimensions as the video.
                    hidden_canvas.width = width;
                    hidden_canvas.height = height;

                    // Make a copy of the current frame in the video on the canvas.
                    context.drawImage(video, 0, 0, width, height);

                    // Turn the canvas image into a dataURL that can be used as a src for our photo.
                    return hidden_canvas.toDataURL('image/png');
                }
            }


            function displayErrorMessage(error_msg, error) {
                error = error || "";
                if (error) {
                    console.error(error);
                }

                error_message.innerText = error_msg;

                hideUI();
                error_message.classList.add("visible");
            }


            function hideUI() {
                // Helper function for clearing the app UI.

                controls.classList.remove("visible");
                start_camera.classList.remove("visible");
                video.classList.remove("visible");
                snap.classList.remove("visible");
                error_message.classList.remove("visible");
            }

        });

    </script>
}