﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>List Refugees</h2>
       
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            
            <table id="datatable-buttons" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Last name</th>
                        <th>Identity Number</th>
                        <th>Country</th>
                        <th>Camp Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
               
                </tbody>
            </table>
        </div>
    </div>
</div>



<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel"></h4>
            </div>
            <div class="modal-body">
                <div class="bodymodal" style="text-align:center;">
                    <div class="profile_img">
                        <div id="crop-avatar">
                            <!-- Current avatar -->
                            <img class="img-responsive avatar-view"  alt="Avatar" title="Change the avatar" style="width:35%;display:initial">
                        </div>
                    </div>
                    <h3 id="nameit"></h3>
                    <ul class="list-unstyled user_data">
                        <li>
                            Country : <i class="fa fa-map-marker user-profile-icon"></i> <span id="country"></span>
                        </li>

                        <li class="m-top-xs">
                            <i class="fa fa-external-link user-profile-icon"></i>
                            Gender :  <span id="gender"></span>
                        </li>
                        <li class="m-top-xs">
                            <i class="fa fa-hospital-o user-profile-icon"></i> Identity Type : 
                            <span id="identityType"></span>
                        </li>
                        <li class="m-top-xs">
                            <i class="fa fa-sort-numeric-asc user-profile-icon"></i> Identity Number : 
                            <span id="identityNumber"></span>
                        </li>
                        <li class="m-top-xs">
                            <i class="fa fa-child user-profile-icon"></i> Marital Status :
                            <span id="maritalStatus"></span>
                        </li>
                        <li class="m-top-xs">
                            <i class="fa fa-bullhorn user-profile-icon"></i> Special Needs :
                            <span id="specialNeeds"></span>
                        </li>
                        <li class="m-top-xs">
                            <i class="fa fa-home user-profile-icon"></i> Camp : 
                            <span id="campinfo"></span>
                        </li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<img src="/Content/Images/5.png" alt="..." class="img-circle profile_img">-->
@if (ViewBag.message != "")
{

    <script>
        new PNotify({
            title: 'Success',
            text: 'Refugee added successfully',
            type: 'success',
            styling: 'bootstrap3'
        });
    </script>


}
@section Scripts{

<script>
        var refugee = '@ViewBag.refugees';
    if (refugee != '') {
        var refugees = JSON.parse(refugee.replace(/&quot;/g, '"'));
        console.log(refugees)
        for (var i = 0; i < refugees.length; i++) {
            var obj = refugees[i];
            console.log(obj.name)
            $("tbody").append('<tr><td>' + obj.name + '</td><td>' + obj.surname + '</td><td>' + obj.identityNumber + '</td><td>' + obj.country + '</td><td>' + obj.camp["name"] + '</td><td><a class="checkout" href="#" id="' + obj.id + '">Check Out</a> <br> <button type="button" id="' + obj.id + '" class="btn btn-primary View" data-toggle="modal" data-target=".bs-example-modal-lg">View</button></td></tr>')
    
        }
        }
    $(".checkout").on('click', function (){
       console.log( $(this).attr("id"));
        var obj = {}
        obj.id = $(this).attr("id");
        console.log(obj)
        $.ajax({
            type: "DELETE",
            contentType: "application/json;charset=utf-8",
            url: "http://127.0.0.1:18080/universalhaven-web/rest/camp",
            data: JSON.stringify(obj),
            success: function (data) {
                console.log(data)
                window.location.href = "/Refugee/Index";
            }

        });
    });
    $(".View").on('click', function () {
        var id = $(this).attr("id");
        console.log(id);
        $.ajax({
            type: "GET",
            url: "http://127.0.0.1:18080/universalhaven-web/rest/camp/findRefugeeById?id="+id,
            success: function (data) {
                var pic = "/Content/Images/" + data.identityNumber + ".png"
                $('#myModalLabel').text(data.name + " " + data.surname);
                $('.avatar-view').attr("src",pic )
                $('#birthDate').text(data.birthDate);
                $('#country').text(data.country);
                $('#gender').text(data.gender);
                $('#identityType').text(data.identityType);
                $('#identityNumber').text(data.identityNumber);
                $('#maritalStatus').text(data.maritalStatus);
                $('#specialNeeds').text(data.specialNeeds);
                $('#campinfo').text(data.camp["name"] + " in " + data.camp["country"]);
                $('#nameit').text(data.name + " " + data.surname);
                console.log(data)
            }

        });
    });

</script>
    }